.jobs{   
    @media(min-width:$notebook){
        margin-top: 115px;
    } 
    &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
        margin: 15px 0;
        @media(min-width:$tablet){
            font-size: 34px;
            line-height: 40px;
        }
        @media(min-width:$notebook){
            max-width: 66%;
            position: relative;
            margin: 0 auto;
        }
        @media(min-width:$desktop){
            font-size: 48px;
            line-height: 64px;
        }
    }
    &-h3{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;  
        color: #282828; 
        @media(min-width:$tablet){
            font-size: 20px;
            line-height: 40px;
        }   
        @media(min-width:$notebook){
            letter-spacing: 0.15px;
        }
        @media(min-width:$desktop){
            font-size: 24px;           
        }
    }
    &-h4{
        font-weight: 600;
        font-size: 14px;
        line-height: 16px; 
        margin: 14px 0; 
        color: #282828;
        @media(min-width:$tablet){
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
        }
        @media(min-width:$notebook){
            letter-spacing: 0.5px;
        }         
    }   
    &-openner{
        display: flex;
        padding: 11px 32px;
        border-bottom: 1px solid  #F0F1F2;
        @media(min-width:$tablet){
            border: none;
            padding: 16px 88px;
        }
        @media(min-width:$notebook){
            padding: 20px 26px;
        }
        @media(min-width:$desktop){
            padding: 26px 16px;
        }
    }
    &-svg{
        margin-right: 8px;
        transition: transform .3s;        
        @media(min-width:$tablet){
            width: 40px;
            height: 40px;
            margin-right: 16px;
        }
        @media(min-width:$notebook){
            margin-right: 26px;
        }
    }
    &-content{
        display: none;
    }
    &-ul{
        @media(min-width:$notebook){
            margin-bottom: 43px;
        } 
    }
    &-li{
        list-style:none;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin: 15px 0;
        position: relative;
        padding-left: 32px;
        @media(min-width:$tablet){
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
        @media(min-width:$notebook){
            letter-spacing: 0.15px;
            margin: 30px 0;
        }        
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 100%;
            border: 1px solid #E6E7E8;
            box-sizing: border-box;
        }
        &:after{
            content: '';
            position: absolute;
            top: 5px;
            left: 9px;
            width: 5px;
            height: 9px;            
            transform: rotate(45deg);
            border-bottom: 1.4px solid #FFCC08;
            border-right: 1.4px solid #FFCC08;
        }
    }
    &-item__open{
        background-color: #FAFBFC;
        background-image: url(../images/svg/team-bg.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        @media(min-width:$notebook){
            border-top: 1px solid  #F0F1F2;
        }
        .jobs-content{
            display: block;
            padding: 14px 32px; 
            @media(min-width: $tablet){
                padding: 0 48px  20px  144px;
            }
            @media(min-width:$notebook){
                padding-left: 93px;
            }                    
        }
        .jobs-svg{
            transform: rotate(90deg)
        }
    }
    &-link{
        position: relative;
        margin: 33px auto;
        width: 229px;
        display: flex;
        box-sizing: border-box;
        background: #FFCC08;
        border-radius: 50px;
        padding: 16px 30px;
        text-decoration: none;
        justify-content: space-between;
        align-items: center;
        @media(min-width:$notebook){
            margin-left: 0;
        }
        span{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #282828;
        }
    }
    &-arrow{
        position: relative;
        &:before{
            content: '';
            width: 31px;
            height: 2px;
            display: block;
            background: #282828;
            position: absolute;
            top: 12px;
            left: -30px;
            transition: width .3s, left .3s;
        }
        svg{
            transform: rotate(180deg); 
            top: 3px;
            position: relative;
        }
        &:hover{
            &:before{
                width: 15px; 
                left: -14px;
            }
        }
    }
    &-spoiler{
        @media(min-width:$notebook){
            max-width: 1040px;
            position: relative;
            margin: 0 auto;
            margin-top: 30px;
        } 
        @media(min-width:$desktop){
            max-width: 1504px;
        }        
    }  
    &-item{
        @media(min-width:$notebook){
            max-width: 66%;
            position: relative;
            margin: 0 auto;
        } 
    }    
}