.jobs
    .container  
        h2.jobs-title(data-aos="fade-up" data-aos-duration="1000") Наши вакансии
    .jobs-spoiler
        .jobs-item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" data-aos-anchor-placement="right")
            .jobs-openner
                svg.jobs-svg(role="img")(width="24")(height="24"): use(xlink:href="#spoiler") 
                h3.jobs-h3 Моторист цементировочного агрегата
            .jobs-content
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Работа на цементировочном агрегате при технологических процессах цементажа скважин, гидравлического разрыва пласта, химической обработки, глушения и промывки скважин, установки цементных мостов
                    li.jobs-li Перекачка технических жидкостей
                    li.jobs-li Обеспечение бесперебойной работы насоса цементировочного агрегата
                    li.jobs-li Соблюдение инструкций по охране труда и промышленной безопасности
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Опыт работы мотористом цементировочного агрегата не менее одного года
                    li.jobs-li Наличие удостоверение моториста цементировочного агрегата/промывочного агрегат
                    li.jobs-li Водительское удостоверение категории «С» 
                h4.jobs-h4 Условия
                ul.jobs-ul  
                    li.jobs-li Официальное трудоустройство, соц.пакет
                    li.jobs-li График работы 7/7
                    li.jobs-li Место работы: Сарапульский р-он, д. Агриколь (нефтяное месторождение)
                    li.jobs-li Служебный транспорт
                    li.jobs-li Столовая на объекте
                    li.jobs-li Спецоджеда
                a.jobs-link(href="#") 
                    span Подать заявку
                    .jobs-arrow 
                        svg(role="img")(width="11")(height="14"): use(xlink:href="#triangle")
        .jobs-item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-anchor-placement="right")
            .jobs-openner
                svg.jobs-svg(role="img")(width="24")(height="24"): use(xlink:href="#spoiler") 
                h3.jobs-h3 Моторист цементировочного агрегата
            .jobs-content
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Работа на цементировочном агрегате при технологических процессах цементажа скважин, гидравлического разрыва пласта, химической обработки, глушения и промывки скважин, установки цементных мостов
                    li.jobs-li Перекачка технических жидкостей
                    li.jobs-li Обеспечение бесперебойной работы насоса цементировочного агрегата
                    li.jobs-li Соблюдение инструкций по охране труда и промышленной безопасности
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Опыт работы мотористом цементировочного агрегата не менее одного года
                    li.jobs-li Наличие удостоверение моториста цементировочного агрегата/промывочного агрегат
                    li.jobs-li Водительское удостоверение категории «С» 
                h4.jobs-h4 Условия
                ul.jobs-ul  
                    li.jobs-li Официальное трудоустройство, соц.пакет
                    li.jobs-li График работы 7/7
                    li.jobs-li Место работы: Сарапульский р-он, д. Агриколь (нефтяное месторождение)
                    li.jobs-li Служебный транспорт
                    li.jobs-li Столовая на объекте
                    li.jobs-li Спецоджеда
                a.jobs-link(href="#") 
                    span Подать заявку
                    .jobs-arrow 
                        svg(role="img")(width="11")(height="14"): use(xlink:href="#triangle") 
        .jobs-item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900" data-aos-anchor-placement="right")    
            .jobs-openner
                svg.jobs-svg(role="img")(width="24")(height="24"): use(xlink:href="#spoiler") 
                h3.jobs-h3 Моторист цементировочного агрегата
            .jobs-content
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Работа на цементировочном агрегате при технологических процессах цементажа скважин, гидравлического разрыва пласта, химической обработки, глушения и промывки скважин, установки цементных мостов
                    li.jobs-li Перекачка технических жидкостей
                    li.jobs-li Обеспечение бесперебойной работы насоса цементировочного агрегата
                    li.jobs-li Соблюдение инструкций по охране труда и промышленной безопасности
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Опыт работы мотористом цементировочного агрегата не менее одного года
                    li.jobs-li Наличие удостоверение моториста цементировочного агрегата/промывочного агрегат
                    li.jobs-li Водительское удостоверение категории «С» 
                h4.jobs-h4 Условия
                ul.jobs-ul  
                    li.jobs-li Официальное трудоустройство, соц.пакет
                    li.jobs-li График работы 7/7
                    li.jobs-li Место работы: Сарапульский р-он, д. Агриколь (нефтяное месторождение)
                    li.jobs-li Служебный транспорт
                    li.jobs-li Столовая на объекте
                    li.jobs-li Спецоджеда
                a.jobs-link(href="#") 
                    span Подать заявку
                    .jobs-arrow 
                        svg(role="img")(width="11")(height="14"): use(xlink:href="#triangle")
        .jobs-item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200" data-aos-anchor-placement="right")
            .jobs-openner
                svg.jobs-svg(role="img")(width="24")(height="24"): use(xlink:href="#spoiler") 
                h3.jobs-h3 Моторист цементировочного агрегата
            .jobs-content
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Работа на цементировочном агрегате при технологических процессах цементажа скважин, гидравлического разрыва пласта, химической обработки, глушения и промывки скважин, установки цементных мостов
                    li.jobs-li Перекачка технических жидкостей
                    li.jobs-li Обеспечение бесперебойной работы насоса цементировочного агрегата
                    li.jobs-li Соблюдение инструкций по охране труда и промышленной безопасности
                h4.jobs-h4 Обязанности
                ul.jobs-ul  
                    li.jobs-li Опыт работы мотористом цементировочного агрегата не менее одного года
                    li.jobs-li Наличие удостоверение моториста цементировочного агрегата/промывочного агрегат
                    li.jobs-li Водительское удостоверение категории «С» 
                h4.jobs-h4 Условия
                ul.jobs-ul  
                    li.jobs-li Официальное трудоустройство, соц.пакет
                    li.jobs-li График работы 7/7
                    li.jobs-li Место работы: Сарапульский р-он, д. Агриколь (нефтяное месторождение)
                    li.jobs-li Служебный транспорт
                    li.jobs-li Столовая на объекте
                    li.jobs-li Спецоджеда
                a.jobs-link(href="#") 
                    span Подать заявку
                    .jobs-arrow 
                        svg(role="img")(width="11")(height="14"): use(xlink:href="#triangle")