.quote{    
    padding: 56px 32px;
    position: relative;
    margin: 0 auto;
    @media(min-width:$tablet){
        margin: 0 72px;
        padding: 70px 80px;
    }
    &-text{
        &:before{
            content: '';
            width: 36px;
            height: 32px;
            display: block;
            background-repeat: no-repeat;
            background: url('../images/svg/quote.svg');
            margin-bottom: 27px;
            @media(min-width:$tablet){
                width: 54px;
                height: 48px;
                background-size: cover;
                margin-left: -80px;
            }
        }  
        p{
           margin: 27px 0;
           font-weight: 500; 
           @media(min-width:$tablet){
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
    }
    &-pick{
        height: auto;
        position: relative;
        line-height: 0;
        margin: 15px 0;
        &:after{
            content: '';
            width: calc(100% - 40px);
            height: 4px;
            background: #FFCC08;
            display: block;
        }
    }
    &-img{
        width: 100%;
        height: auto;
    }
    &-figcaption{
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        @media(min-width:$tablet){
            margin-top: 15px;
        }
        span{
            display: block;
            font-size: 12px;
            color: #828282;
            @media(min-width:$tablet){
                margin-top: 10px;
            }
        }
    }
}