section.quote
    blockquote.quote-text
        p За небольшой период работы компания «УДС нефть» стала заметным участником рынка, завоевав репутацию надежного партнера. 
        p Главная ценность и залог успешной работы «УДС нефть» – коллектив. В компании созданы все необходимые условия для раскрытия потенциала сотрудников, их профессионального и карьерного роста – это комфортные условия труда, достойная заработная плата, система мотивации, расширенный социальный пакет, корпоративные командообразующие мероприятия. Постоянное обучение и повышение квалификации сотрудников и руководителей компании обеспечивают развитие «УДС нефть».
    figure.quote-figure
        .quote-pick
            img.quote-img(src="../assets/director.jpg")
        figcaption.quote-figcaption Шляпников Юрий Викторович
            span Генеральный директор, к.т.н.