.peopleslider{
    margin: 33px 0;
    &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
        margin: 23px 0;
        @media(min-width:$tablet){
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 0.25px;
        }
        @media(min-width:$notebook){
            margin: 0 auto;
            margin-bottom: 32px;
            max-width: 66%;
        }
        @media(min-width:$desktop){
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
        }
    }
    &-slider{
        &-item{
            padding: 36px 32px 23px 32px;
            background-color: #FAFBFC;            
            @media(min-width:$tablet){
                display: flex;
                position: relative;
                margin: 0 auto;
                padding: 40px 0 40px 72px;
                &:after{
                    content: '';
                    display: block;
                    width: 72px;
                    height: 100%;
                    position: absolute;
                    right: 0;
                    background: #fff;
                    top:0;
                    bottom:0;
                    z-index: 100;
                }
            }
            @media(min-width:$notebook){
                width: 866px;
            }
            @media(min-width:$desktop){
                width: 1248px;
                padding: 64px 0 64px 96px;
            }
        }       
    }
    &-controllers{
        display: flex;
        justify-content: flex-end;   
        align-items: center;    
        margin-bottom: 27px;
        @media(min-width:$tablet){
            display: none;
        }
    } 
    &-content{
        display: none;
        margin: 27px 0 16px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        &__active{
            display: block;
        }        
        @media(min-width:$tablet){
            display: block; 
            margin: 0;           
        }
    } 
    &-name{
        &:before{
            content: '';
            display: block;
            width: 75%;
            height: 4px;
            background: #FFCC08;
            margin: 16px 0;   
            @media(min-width:$tablet){
                width: 304px;
                height: 2px;
                margin: 8px 0;
            } 
            @media(min-width:$notebook){
                width: 336px;
            }  
            @media(min-width:$desktop){
                width: 480px;
            }      
        }
        &-bold{
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            @media(min-width:$notebook){
                font-size: 16px;
                letter-spacing: 0.15px;
            }
            @media(min-width:$desktop){
                font-size: 18px;
                letter-spacing: 0.5px;
            }
        }
        &-desc{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #7C7C7C;
        }
        @media(min-width:$tablet){
            position: absolute;
            bottom: 35px;
            left: 35%;
            z-index: 300;
        }
    }
    &-text{
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;        
        &:before{
            content: '';
            width: 32px;
            height: 28px;
            display:block;
            background-image: url('../images/svg/grey_quote.svg');
            position: absolute;
            left: 0;
            top: -55px;
            @media(min-width:$tablet){
                top: 0;
                width: 40px;
                height: 36px;
                background-size: cover;
                background-repeat: repeat;
            }
            @media(min-width:$desktop){
                width: 54px;
                height: 48px;
            }
        }
        @media(min-width:$tablet){
            width: 62%;
            margin-right: 20px;
            font-size: 16px;
            letter-spacing: 0.5px;
            font-style: italic;
            padding-top: 60px;
            padding-bottom: 80px;
        }
        @media(min-width:$desktop){
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            padding-top: 80px;
        }      
    } 
    &-pick{
        width: 100%;
        height: 0;
        padding-top: 110%;
        position: relative;        
        @media(min-width:$tablet){
            width: 37%;
            height: 392px;
            padding-top: 0;
            position: relative;
            z-index:200;
        }
        @media(min-width:$desktop){
            height: 560px;
        }
    }
    &-img{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-repeat: no-repeat;        
        background-position: center;
        @media(min-width:$desktop){
            background-size: cover;
        }
    }
    &-arrows{
        display: flex; 
        @media(min-width:$tablet){
            margin-top: 5px;
        }       
    }
    &-arrow{
        width: 48px;
        height: 48px;
        background: #FFCC08;
        border-radius: 100%;
        position: relative;
        box-sizing: border-box;
        padding: 13px 15px;
        &:hover{
            &:before{
                width: 15px;
            }
        }
        &:before{
            content: '';
            width: 31px;
            height: 2px;
            display: block;
            background: #282828;
            position: absolute;
            top: 22px;
            left: 25px;
            transition: width .3s, transform .3s;
        }
        &.owl-next{
            padding: 13px 19px;
            margin-left: 35px;
            &:before{
                left: -11px;
                right: auto;
            }
            svg{
                transform: rotate(180deg);
            } 
            &:hover{
                &:before{
                   transform: translateX(16px)
                }
            }          
        }
    }
    &-nav{
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        @media(min-width:$tablet){
            padding: 20px 0;
        }
        @media(min-width:$notebook){
            max-width: 66%;
            position: relative;
            margin: 0 auto;
        } 
        @media(min-width:$desktop){
            padding: 32px 0;
        }
    }
    &-counter{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #7C7C7C;
        @media(min-width:$desktop){
            font-size: 24px;
            line-height: 32px;
        }
    }
}
.controllers{
    &-toggler{
        width: 34px;
        height: 14px;
        background: rgba(154, 154, 154, .38);      
        border-radius: 7px;
        position: relative;
        z-index:10;
        margin: 0 16px;
        &:after{
            content: '';
            background: #FFCC08;
            display: block;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: -3px;
            opacity: 1;
            z-index:100;
            transition: left .3s;
        }
        &__right{
            &:after{
                left: calc(100% - 20px);
            }
        }
    }
    &-item{        
        color:#DADADA;
        fill: #DADADA;
        transition: fill .3s, color .3s;
        &__active{
            color:#FFCC08;
            fill: #FFCC08;
        }      
    }   
}