.peopleslider
    .container
        h2.peopleslider-title(data-aos="fade-right" data-aos-duration="3000" data-aos-delay="300" data-aos-anchor-placement="left") Люди дела
    .peopleslider-slider.owl-theme.owl-carousel(data-aos="fade-left" data-aos-duration="3000" data-aos-delay="500" data-aos-anchor-placement="left")
        .peopleslider-slider-item
            .peopleslider-controllers                
                svg.controllers-item.controllers-item__active(role="img")(width="18")(height="20"): use(xlink:href="#text")
                .controllers-toggler
                svg.controllers-item(role="img")(width="18")(height="20"): use(xlink:href="#pick")
            .peopleslider-content.peopleslider-content__active.peopleslider-text
                p Водителем я работаю 15 лет, но спецтехникой управляю не так давно – всего год. Для подготовки к конкурсу установил на смартфоне специальную программу по правилам дорожного движения, освежил материал по правилам перевозки опасных грузов. Как результат – сдал теорию без единой ошибки. Очень советую всем пробовать свои силы и участвовать в конкурсах, повышая свой профессиональный уровень
            .peopleslider-content.peopleslider-pick
                .peopleslider-img(style="background-image:url(assets/person.jpg)")
            .peopleslider-name
                .peopleslider-name-bold Имя Фамилия
                .peopleslider-name-desc Должность
        .peopleslider-slider-item
            .peopleslider-controllers                
                svg.controllers-item.controllers-item__active(role="img")(width="18")(height="20"): use(xlink:href="#text")
                .controllers-toggler
                svg.controllers-item(role="img")(width="18")(height="20"): use(xlink:href="#pick")
            .peopleslider-content.peopleslider-content__active.peopleslider-text
                p Водителем я работаю 15 лет, но спецтехникой управляю не так давно – всего год. Для подготовки к конкурсу установил на смартфоне специальную программу по правилам дорожного движения, освежил материал по правилам перевозки опасных грузов. Как результат – сдал теорию без единой ошибки. Очень советую всем пробовать свои силы и участвовать в конкурсах, повышая свой профессиональный уровень
            .peopleslider-content.peopleslider-pick
                    .peopleslider-img(style="background-image:url(assets/person.jpg)")
            .peopleslider-name
                .peopleslider-name-bold Имя Фамилия
                .peopleslider-name-desc Должность
        .peopleslider-slider-item
            .peopleslider-controllers                
                svg.controllers-item.controllers-item__active(role="img")(width="18")(height="20"): use(xlink:href="#text")
                .controllers-toggler
                svg.controllers-item(role="img")(width="18")(height="20"): use(xlink:href="#pick")
            .peopleslider-content.peopleslider-content__active.peopleslider-text
                p Водителем я работаю 15 лет, но спецтехникой управляю не так давно – всего год. Для подготовки к конкурсу установил на смартфоне специальную программу по правилам дорожного движения, освежил материал по правилам перевозки опасных грузов. Как результат – сдал теорию без единой ошибки. Очень советую всем пробовать свои силы и участвовать в конкурсах, повышая свой профессиональный уровень
            .peopleslider-content.peopleslider-pick
                .peopleslider-img(style="background-image:url(assets/person.jpg)")
            .peopleslider-name
                .peopleslider-name-bold Имя Фамилия
                .peopleslider-name-desc Должность
    .container
        .peopleslider-nav
            .peopleslider-arrows(data-aos="fade-right" data-aos-duration="3000" data-aos-delay="300" data-aos-anchor-placement="left") 
            .peopleslider-counter(data-aos="fade-left" data-aos-duration="3000" data-aos-delay="300" data-aos-anchor-placement="left") 
                