*{
    margin: 0;
    padding: 0;
}
window{
    scroll-behavior: smooth;
}
html{
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    position: relative;
    margin: 0 auto;
    font-family: $font;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #282828;
    overflow-x: hidden;
    max-width: 2880px;
    &.dark{
        height: 100vh;
        overflow-y: hidden;
        @media(min-width: $notebook){
            height: 100%;
        } 
        &:after{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0, 0.5);
            z-index: 800;
            @media(min-width: $notebook){
                display: none;                                 
            }
        } 
    }
}
.header{
    position: relative;
    width: 100%;
    margin: 0 auto;  
    height: 550px;  
    @media(min-width: $tablet){
        height: 640px;  
    }
    @media(min-width: $notebook){
        height: 659px;  
    }
    @media(min-width: $desktop){
        height: 944px;
    } 
    &-top{
        display: flex;
        justify-content: space-between;
        padding-top: 13px; 
        padding-bottom: 11px; 
        position: relative;  
        align-items: center;
        box-sizing: border-box;
        @media(min-width: $tablet){
            padding-bottom: 13px; 
        }
        @media(min-width: $notebook){
            display: none;
        }
    }
    &-middle{
        @media(min-width: $notebook){
            display: flex;
            position: relative; 
            margin: 0 auto;
            top: 40px;
            box-sizing: border-box;
            max-width: 1040px;
            background: #FFFFFF;
            height: 72px;
            padding: 0 25px;
            align-items: center; 
            transform: translate(0, -50px);
            animation-name: movetranslate; 
            animation-duration: 3s;
            animation-delay: .3s; 
            animation-fill-mode: forwards;                     
            &:after{
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                top: 72px;
                background: rgba(0, 0, 0, 0.07);
            }
        }
        @media(min-width: $desktop){
            max-width: 1504px;
            top: 64px;
            height: 104px;
            &:after{
                top: 104px;
            }
        }
        .lang-link{
            display: none;
            @media(min-width: $notebook){
                display: block;
                position: static;
                margin: 0 24px;
            }
            @media(min-width: $tablet){
                margin: 0;
                margin-right: 24px;
            }
        }
    }
}
.container{
    position: relative;
    padding: 0 32px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    @media(min-width: $tablet){
        padding: 0 72px;
    }
    @media(min-width: $notebook){
        padding: 0;
        max-width: 1040px;     
    }
    @media(min-width: $desktop){
        max-width: 1504px;
    }    
}
.articles-items{
    background: #FAFBFC;
    padding: 5px 32px;
    @media(min-width: $tablet){
        margin: 0 72px;
        box-sizing: border-box;
        padding: 32px 80px;
        padding-bottom: 5px;        
    }
    @media(min-width: $notebook){
        margin: 0 auto;
        padding: 64px 80px;
        position: relative;
        max-width: 1040px;  
        display: flex;    
    }
    @media(min-width: $desktop){
        max-width: 1504px;
        padding: 60px 105px;
    } 
}
.main-articles{
    @media(min-width: $tablet){       
        position: relative;
    }
}
.articles-dots{
    @media(min-width: $tablet){
        position: absolute;
        right: 37px;
        bottom: 350px;
        height: 162px;
    }
    @media(min-width: $notebook){
        bottom: 150px;
        right: 100px;
    }
    @media(min-width: $desktop){
        bottom: 200px;        
    }
    svg{
        display: none;
        @media(min-width: $tablet){
            display: block;
            position: absolute;
            top: 0;
        }
        @media(min-width: $desktop){
           width: 64px;
           height: 64px;
           top: -123px;
           left: -13px;
        }
    }
}
.slick-dotted.slick-slider{
    margin-bottom: 0;
}
.slick-dots li{
    @media(min-width: $desktop){
        margin: 10px 5px;
    }
}

.slick-dots li button:before{
    color: #E0E0E0;
    opacity: 1;
}
.slick-dots li.slick-active button:before{    
    color: #fff;
   
}
.slick-dots li.slick-active button{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 2px solid #282828;
    position: relative;
    left: 7px;
    padding: 0;
    @media(min-width: $desktop){
        width: 16px;
        height: 16px;
        left: 4px;
    }
}
.slick-dots li.slick-active button:before{
    opacity: 0;
}
.checklist{
    margin: 19px 0;
    padding: 0;
    &-li{
        list-style: none;
        margin-bottom: 28px;
        padding-left: 50px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.15px;
        position: relative;
        @media(min-width:$desktop){
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            padding-left: 72px;
            margin-bottom: 40px;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 1px solid #E6E7E8;
            box-sizing: border-box;
            @media(min-width:$desktop){
                width: 48px;
                height: 48px;
                top: -5px;
            }
        }
        &:after{
            content: '';
            position: absolute;
            top: 9px;
            left: 13px;
            width: 5px;
            height: 9px;
            transform: rotate(45deg);
            border-bottom: 1.4px solid #FFCC08;
            border-right: 1.4px solid #FFCC08;
            @media(min-width:$desktop){                             
                top: 8px;
                left: 17px;
                width: 13px;
                height: 15px;                         
                border-bottom: 2px solid #FFCC08;
                border-right: 2px solid #FFCC08;                
            }
        }
    }
}
@keyframes movetranslate{    
    to {
        transform: translate(0, 0);
        text-indent: 0;
    }
}
