.realization{
    &-logo{
        border-bottom: 8px solid #FFCC08;
    }
    &-text{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0; 
    }
    
}