.realization{
    &-logo{
        border-bottom: 8px solid #FFCC08;
    }
    &-text{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin: 24px 0; 
    }
    &-icons{
        &-item{
            text-align: center;
            margin-bottom: 15px;
        }
        &-svg{
            margin: 30px 0;
            margin-bottom: 20px;    
        }
        &-text{
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            span{
                font-size: 24px;
                letter-spacing: -0.03em;
            }
        }
        &-grey{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #7C7C7C; 
            padding: 0 30px;           
        }    
    }
    &-list{
        padding: 30px 0;
        &-title{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;  
        }
        &-li{
          margin: 19px 0; 
          list-style: none;
        }
        &-marker{
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.5px;
            padding-left: 15px;
            position: relative;
            margin-bottom: 6px;
            &:before{
                content: '';
                background: #FFCC08;
                display: block;            
                width: 8px;
                height: 8px;
                border-radius: 100px;
                position: absolute;
                left: 0;
                top: 12px;
            }
        }
    }
    &-descriptions{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        p{
            margin: 15px 0;
        }
    }
}