.realization
    .container 
        .realization-content         
            .realization-logo(data-aos="fade-left" data-aos-duration="3000")
                svg.realization-svg(role="img")(width="256")(height="96"): use(xlink:href="#vetla")
            .realization-text(data-aos="fade-up" data-aos-duration="3000") Трейдинг нефти – направление деятельности холдинга UDS group по консолидированной реализации собственной добываемой и сторонней нефти. Развивается с 2017 года компаниями ООО «Ветла» и ООО «Ветла-трейдинг».
            .realization-icons  
                .realization-icons-item(data-aos="fade-right" data-aos-duration="3000")  
                    .realization-icons-circle  
                        svg.realization-icons-svg(role="img")(width="48")(height="48"): use(xlink:href="#earth") 
                    .realization-icons-text
                        span 11&nbsp;
                        | регионов России и Европа
                        .realization-icons-grey география поставок нефти
                .realization-icons-item(data-aos="fade-left" data-aos-duration="3000") 
                    .realization-icons-circle  
                        svg.realization-icons-svg(role="img")(width="48")(height="48"): use(xlink:href="#surface1") 
                    .realization-icons-text
                        span 80 - 90&nbsp;
                        | тысяч тонн
                        .realization-icons-grey ежемесячный объем реализации нефти  
    .realization-blockgray 
        .container
            .realization-content    
                .realization-list
                    .realization-list-title(data-aos="fade-right" data-aos-duration="3000")  Возможности по реализации собственной нефти:
                    ul.realization-list-ul
                        li.realization-list-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300")  
                            .realization-list-marker трубным способом
                            p через систему магистральных нефтепроводов ПАО «Транснефть» с УУН «Малая Пурга» (СИКН № 820) и УУН «Каменный лог» (СИКН № 274).
                        li.realization-list-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600") 
                            .realization-list-marker ж/д транспортом
                            p со станции «Кунгур» Пермского края (код станции 763701).
                        li.realization-list-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="900") 
                            .realization-list-marker спецавтотранспортом
                            p с месторождений в Пермском крае либо Удмуртской Республике.
    .container
        .realization-content                
            .realization-descriptions(data-aos="fade-up" data-aos-duration="3000")
                p Мы стремимся стать эффективным участником энергетического сообщества и реализовывать качественные продукты на российском и экспортном рынках, вести бизнес ответственно и добросовестно, быть гибкими и открытыми для сотрудничества, обеспечивать компании устойчивый рост и развитие.
                p Наша профессиональная команда нацелена на раскрытие потенциала компании для достижения поставленных задач по увеличению объемов реализации нефти, расширению круга партнеров, включая контрагентов европейского и международного уровня.
            .realization-advantages   
                .realization-advantages-titile(data-aos="fade-right" data-aos-duration="3000") Преимущества сотрудничества по приобретению сторонней&nbsp;нефти:
                .realization-advantages-items(data-aos="fade-up" data-aos-duration="3000") 
                    .realization-advantages-item
                        .realization-advantages-circle  
                            svg.realization-advantages-svg(role="img")(width="44")(height="44"): use(xlink:href="#money") 
                        p Конкурентные премиальные&nbsp;цены
                    .realization-advantages-item
                        .realization-advantages-circle  
                            svg.realization-advantages-svg(role="img")(width="52")(height="52"): use(xlink:href="#agreement") 
                        p Индивидуальные условия сотрудничества
                    .realization-advantages-item
                        .realization-advantages-circle  
                            svg.realization-advantages-svg(role="img")(width="48")(height="48"): use(xlink:href="#percent") 
                        p Гибкая ценовая политика, включая предоплату приобретаемой нефти
                    .realization-advantages-item    
                        .realization-advantages-circle  
                            svg.realization-advantages-svg(role="img")(width="44")(height="44"): use(xlink:href="#bars") 
                        p Возможность хэджирования цен на нефть в рамках объемов поставки
    .realization-blockgray.realization-blockgray__image    
        .container            
            .realization-partners 
                .realization-content
                    .realization-partners-title   
                        h2.realization-partners-h2(data-aos="fade-right" data-aos-duration="3000") Ключевые партнеры
                .realization-partners-carousel
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#alfa")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#ros")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#shell")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#zar")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#nznp")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#gazprom")
                    .realization-partners-item
                        svg.realization-partners-svg(role="img")(width="160")(height="112"): use(xlink:href="#sber") 
            .realization-content    
                .realization-brands
                    .realization-brands-title(data-aos="fade-right" data-aos-duration="3000") Мы работаем с лидерами нефтяного рынка и аккредитованы:
                    ul.realization-brands-items(data-aos="fade-up" data-aos-duration="3000")
                        li.realization-brands-name SHELL STASCO INT
                        li.realization-brands-name SHELL TRBV
                        li.realization-brands-name ENI
                        li.realization-brands-name VITOL
                        li.realization-brands-name TOTAL
                        li.realization-brands-name TRAFFIGURA
                        li.realization-brands-name ПАО «НК «Роснефть»
                        li.realization-brands-name ПАО «Газпром нефть»
                        li.realization-brands-name ПАО «Зарубежнефть»
                        li.realization-brands-name ПАО «Лукойл»
                        li.realization-brands-name ПАО «НК «Нефтиса»
                        li.realization-brands-name ПАО «Татнефть»
                        li.realization-brands-name ОАО «НЗНП»
                        li.realization-brands-name ПАО «Русь-ойл»
                        li.realization-brands-name ООО «Первый завод»
    .container   
        .realization-content     
            .realization-contact
                .realization-contact-title(data-aos="fade-right" data-aos-duration="3000") По коммерческим условиям реализации нефти с&nbsp;нами&nbsp;можно&nbsp;связаться:
                .realization-contact-block
                    .realization-contact-pick(data-aos="fade-right" data-aos-duration="3000") 
                        img(src="assets/lyamin.jpg").realization-contact-img 
                    .realization-contact-description(data-aos="fade-left" data-aos-duration="3000") 
                        .realization-contact-name
                            .realization-contact-strong Денис Викторович Лямин
                            .realization-contact-grey
                                nobr директор ООО «ВЕТЛА»,
                                nobr ООО «ВЕТЛА-Трейдинг»
                        .realization-contact-items
                            .realization-contact-item
                                .realization-contact-desc Тел. моб. (Viber/Whatsapp)
                                a(href="tel:+79128567607").realization-contact-phone + 7 (912) 856-76-07
                            .realization-contact-item
                                .realization-contact-desc Телефон
                                a(href="tel:+73412998000").realization-contact-phone +7 (3412) 998-000, доб. 126
                            .realization-contact-item
                                .realization-contact-desc Факс
                                a(href="tel:+73412998000").realization-contact-phone +7 (3412) 998-000, доб. 109
                            .realization-contact-item
                                .realization-contact-desc E-mail
                                a(href="mailto:D.Lyamin@uds18.ru").realization-contact-phone D.Lyamin@uds18.ru
                a(href="#").realization-contact-link(data-aos="fade-left" data-aos-duration="3000") Подробная информация
                    svg.realization-contact-svg(role="img")(width="18")(height="18"): use(xlink:href="#link") 
    .realization-blockgray    
        .container
            .realization-content
                .realization-protocols
                    .realization-protocols-title(data-aos="fade-left" data-aos-duration="3000")
                        h2.realization-protocols-h2 Протоколы испытаний нефти 
                        .realization-protocols-descriptions (при реализации спецавтотранспортом с месторождений)          
                    .realization-protocols-items
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="900")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
                        .realization-protocols-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="900")
                            a(href="#" download).realization-protocols-name.realization-protocols-name__pdf №191 от 30.01.2019 Высоковское месторождение
                            .realization-protocols-size 983.5 КБ
