.news{
    margin-bottom: 56px;
    @media(min-width: $tablet){
        margin: 32px 0 56px 0;
        display: flex;
        flex-wrap: wrap;
    }
    @media(min-width: $notebook){
        margin-top: 58px; 
        margin-bottom: 96px;
    }
    @media(min-width: $desktop){        
        margin: 75px 0 127px -0;
    }
    &-flex{
        @media(min-width: $tablet){
            margin: 0 -8px;
            display: flex;
            flex-wrap: wrap;
        }        
        @media(min-width: $desktop){        
            margin: 0 -16px 0 -16px;
        }
    }
}