include ../newsList/newsList
.news
    .news-flex
        +newsList('../assets/news2.jpg', 'В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров', '28 ноября 2018') 
        +newsList('../assets/news3.png', 'В «УДС нефть» прошел семинар по вопросам эксплуатации осложненного фонда скважин', '28 ноября 2018')
        +newsList('../assets/news4.png', 'В «УДС нефть» подвели итоги работы за 2018 год', '28 ноября 2018')
        +newsList('../assets/news2.jpg', 'В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров', '28 ноября 2018')
        +newsList('../assets/news3.png', '«УДС нефть»', '28 ноября 2018')
        +newsList('../assets/news4.png', 'В «УДС нефть» подвели итоги работы за 2018 год', '28 ноября 2018')
        +newsList('../assets/news2.jpg', 'В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров', '28 ноября 2018')
        +newsList('../assets/news3.png', 'В «УДС нефть» прошел семинар по вопросам эксплуатации осложненного фонда скважин', '28 ноября 2018')   
        +newsList('../assets/news4.png', 'В «УДС нефть» подвели итоги работы за 2018 год', '28 ноября 2018')
        +newsList('../assets/news2.jpg', 'В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров', '28 ноября 2018')
        +newsList('../assets/news3.png', 'В «УДС нефть» прошел семинар по вопросам эксплуатации осложненного фонда скважин', '28 ноября 2018')   
        +newsList('../assets/news4.png', 'В «УДС нефть» подвели итоги работы за 2018 год', '28 ноября 2018')
    .news-flex.js-morecontainer