.table{
    position: relative;
    margin: 40px -32px;    
    @media(min-width: $tablet){
        margin: 56px 0;
    }
    @media(min-width: $notebook){
        width: 66%;
        margin: 56px auto;
    }
    @media(min-width: $desktop){
        width: 100%;        
        display: table;    
        margin-bottom: 112px;    
    }
    &-row{  
        @media(min-width: $desktop){                
            display: table-row;                   
        }      
        &__head{
            display: none; 
            @media(min-width: $desktop){
                display: table-row;
                background:#FEF8E2;
                .table-cell{
                    color:  #7C7C7C;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 16px;
                    vertical-align: middle;
                }
            }           
        }
        &__close{            
            .table-cell{
                display: none;
                &__opener{
                    display: block;                    
                }
                @media(min-width: $desktop){
                    display: table-cell;
                    .table-cell__opener{
                        display: table-cell;                  
                    }
                }                
            }
        }
        &__open{
            background: #FAFBFC;
            height: auto;
            .table-cell__opener:before{
                transform: rotate(90deg);
            }
            .table-cell{
                display: block;                
                @media(min-width: $tablet){                    
                    display: flex;                    
                    &__opener{
                        display: block;                                            
                    }
                }
                @media(min-width: $desktop){
                    &__opener{
                        display: table-cell;                                           
                    }
                    display: table-cell;
                }
            }
        }
    }
    &-cell{
        margin: 0 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #282828;
        border-bottom: 1px solid #F0F1F2;
        padding: 17px 0;
        &:last-of-type{
            border-bottom: 0;
        }
        @media(min-width: $tablet){
            margin: 0;
            padding: 0;
        }
        @media(min-width: $desktop){
            display: table-cell;
            padding: 16px 20px;
            &:first-of-type{
                padding-left: 32px;
            }
            &:last-of-type{
                padding-right: 32px;     
            }
        }    
        a{
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #282828;
            text-decoration: none;
            &:after{
                content: '';
                background: #FFCC08;
                height: 2px;
                position: absolute;
                width: 32px;
                left: 0;
                bottom: -5px; 
                transition: width .3s;
            }
            &:hover{
                &:after{
                    width: 0;
                }
            }
        }
        &:before{
            content: attr(data-cell);
            color: #7C7C7C;
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            margin-bottom: 5px;
            display: block;
            @media(min-width: $tablet){
                width: 38%;
                border-right: 1px solid #F0F1F2;
                flex-shrink: 0;
                margin-right: 16px;   
                padding: 20px 17px;            
            }
            @media(min-width: $notebook){
                width: 30%;
            }
            @media(min-width: $desktop){
                display: none;
            }
        }
        &__opener{   
            position: relative;
            border-bottom: 1px solid #F0F1F2;
            margin: 0;
            @media(min-width: $tablet){
                padding: 17px 0;
            }
            @media(min-width: $desktop){
                display: table-cell;
            }
            &:before{
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 32px;
                border-radius: 100%;
                background: url('../images/svg/spoiler.svg');
                transition: transform .3s;
                @media(min-width: $tablet){
                    left: 17px;
                    padding: 0;  
                }
                @media(min-width: $desktop){
                    display: none;
                }
            }
        }
    }
    &-content{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #282828;
        @media(min-width: $tablet){
            padding: 20px 17px; 
        }
    }
    &-title{
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        margin: 0 50px;
        position: relative;
        &:before{
            content: '№';
            margin-right: 5px; 
            font-size: 12px;
            line-height: 24px;  
            font-weight: bold;         
        }
        @media(min-width: $tablet){
            font-weight: 600;
            font-size: 14px;
            &:before{
                font-weight: 600;
                font-size: 14px;          
            }            
        }
        @media(min-width: $desktop){
            margin: 0;
        }
    }
}