.table.js-tablespoiler
    .table-row.table-row__head(data-aos="fade-up" data-aos-duration="1000")
        .table-cell №&nbsp;тендера
        .table-cell Наименование тендера
        .table-cell Наименование объекта
        .table-cell Дата окончания подачи заявок
        .table-cell Ориентировочная дата проведения тендера
        .table-cell Тендерная документация
        .table-cell Изменения к тендерной документации
        .table-cell Тендерная площадка
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")
        .table-cell(data-cell="№ тендера") 
           .table-content № 1928-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера") 
            .table-title Оказание услуг по транспортировке нефтесодержащей жидкости для ООО «УДС нефть»
        .table-cell(data-cell="Наименование объекта")
            .table-content Зотовское м/р – УПН Азинского м/р
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 24.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера") 
            .table-content 31.05.2019
        .table-cell(data-cell="Тендерная документация")  
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")  
            .table-content
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600")
        .table-cell(data-cell="№ тендера") 
            .table-content № 1923-Ял
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по строительству автомобильной дороги
        .table-cell(data-cell="Наименование объекта")
            .table-content «Обустройство Ялыкского нефтяного месторождения. Первый этап»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 31.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 07.06.2019
        .table-cell(data-cell="Тендерная документация")   
            .table-content
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")    
            .table-content
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900")
        .table-cell(data-cell="№ тендера")
            .table-content № 1922-УДСН/Ял2,2а
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по проведению негосударственной экспертизы проектной документации и результатов инженерных изысканий для получения разрешения на строительство.
        .table-cell(data-cell="Наименование объекта")
            .table-content «Обустройство Ялыкского нефтяного месторождения. Куст №2», «Обустройство Ялыкского нефтяного месторождения. Куст №2а»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 24.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 31.05.2019
        .table-cell(data-cell="Тендерная документация")   
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content      
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200")
        .table-cell(data-cell="№ тендера")
            .table-content № 1920-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Оказание услуг по разработке проекта нормативов образования отходов и лимитов на их размещение (ПНООЛР)
        .table-cell(data-cell="Наименование объекта")
            .table-content Дубровинское, Ялыкское, Костоватовское месторождения нефти
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 24.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 31.05.2019
        .table-cell(data-cell="Тендерная документация")   
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")        
            .table-content
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500")
        .table-cell(data-cell="№ тендера")
            .table-content № 1928-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Оказание услуг по транспортировке нефтесодержащей жидкости для ООО «УДС нефть»
        .table-cell(data-cell="Наименование объекта")
            .table-content Зотовское м/р – УПН Азинского м/р
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 24.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 31.05.2019
        .table-cell(data-cell="Тендерная документация")  
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content       
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1800")
        .table-cell(data-cell="№ тендера")
            .table-content № 1913-Р /ВЧ,Мут
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по разработке необходимой документации для получения комплексного экологического разрешения (КЭР)
        .table-cell(data-cell="Наименование объекта")
            .table-content  «Верхне-Чусовское месторождение нефти, Мутнинское месторождение нефти ООО «РИФ»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  17.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  31.05.2019
        .table-cell(data-cell="Тендерная документация") 
            .table-content  
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content  
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2100")
        .table-cell(data-cell="№ тендера")
            .table-content № 1912-УДСН/Выс2,3,Ив2
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по проведению экспертизы проектной документациии инженерных изысканий по объектам
        .table-cell(data-cell="Наименование объекта")
            .table-content   «Обустройство куста №3 Высоковского месторождения нефти», «Обустройство куста №4 Высоковского месторождения нефти», «Обустройство куста №2 Ивановского месторождения нефти»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  17.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  24.05.2019
        .table-cell(data-cell="Тендерная документация") 
            .table-content    
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content     
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2400")
        .table-cell(data-cell="№ тендера")
            .table-content № 1908-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по проектированию объекта «Автомобильная дорога д.Девятово-УПН Азинского нефтяного месторождения»
        .table-cell(data-cell="Наименование объекта") 
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  17.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  24.05.2019
        .table-cell(data-cell="Тендерная документация")
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content  
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="2700")
        .table-cell(data-cell="№ тендера")
            .table-content № 1903-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Оказание услуг по аренде приводов ШГН (далее «привод»)
        .table-cell(data-cell="Наименование объекта")  
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  08.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  17.05.2019
        .table-cell(data-cell="Тендерная документация") 
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content     
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3000")
        .table-cell(data-cell="№ тендера")
            .table-content № 1902-УДСН/Выс
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Определение подрядчика для сдачи в аренду газосепаратора бурового раствора СРБ-2 с целью проведения работ на испытание газа скв. 231
        .table-cell(data-cell="Наименование объекта")
            .table-content  «Высоковское месторождение»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  08.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  17.05.2019
        .table-cell(data-cell="Тендерная документация")
            .table-content   
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content   
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3300")
        .table-cell(data-cell="№ тендера")
            .table-content № 1899-ПСП /МП
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по капитальному ремонту АБК
        .table-cell(data-cell="Наименование объекта")
            .table-content  «ПСП Малая Пурга»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  08.05.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  17.05.2019
        .table-cell(data-cell="Тендерная документация")   
            .table-content 
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content   
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3600")
        .table-cell(data-cell="№ тендера")
            .table-content № 1894-УДСН/Кас
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по мониторингу окружающей среды и состояния недр Касалинского месторождения нефти
        .table-cell(data-cell="Наименование объекта")
            .table-content  «Касалинское месторождение нефти»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content   26.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера") 
        .table-cell(data-cell="Тендерная документация")
            .table-content     
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")  
            .table-content 
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="3900")
        .table-cell(data-cell="№ тендера")
            .table-content № 1892-УДСН/Кас
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по отбору проб и проведению анализа выбросов от источников выбросов в атмосферный воздух
        .table-cell(data-cell="Наименование объекта")
            .table-content   Азинское месторождение нефти, Нефедовское месторождение нефти, Производственная база АО «Чепецкое НГДУ
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  26.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")  
        .table-cell(data-cell="Тендерная документация") 
            .table-content      
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")  
            .table-content 
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="4200")
        .table-cell(data-cell="№ тендера")
            .table-content № 1897-Р/ПНН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title  Выполнение работ по разработке документации «Техническое перевооружение объекта: Строительство ППН (пункт приема нефти) с УУН (узел учета нефти) в районе УППН «Каменный лог»
        .table-cell(data-cell="Наименование объекта")  
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content  26.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")  
        .table-cell(data-cell="Тендерная документация")
            .table-content    
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content  
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="4500")
        .table-cell(data-cell="№ тендера")
            .table-content № 1896-УДСН/Кул
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по проектированию объекта «Обустройство Кулигинского нефтяного месторождения. Куст №3 и №3а»
        .table-cell(data-cell="Наименование объекта") 
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 26.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")  
        .table-cell(data-cell="Тендерная документация")
            .table-content  
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content     
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="4800")
        .table-cell(data-cell="№ тендера")
            .table-content № 1882-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Проведение работ по гидравлическому разрыву пласта
        .table-cell(data-cell="Наименование объекта") 
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 19.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content  26.04.2019
        .table-cell(data-cell="Тендерная документация")
            .table-content    
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content   
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="5100")
        .table-cell(data-cell="№ тендера")
            .table-content № 1875-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Оказание услуг на поставку, прокат, обслуживание и ремонт программно-аппаратного комплекса для мониторинга работы многопластовых скважин, оснащенных УЭЦН на 2019г
        .table-cell(data-cell="Наименование объекта")  
        .table-cell(data-cell="Дата окончания подачи заявок")  
            .table-content 19.04.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 26.04.2019
        .table-cell(data-cell="Тендерная документация")   
            .table-content
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content 
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="5400")
        .table-cell(data-cell="№ тендера")
            .table-content № 1836-ПСП/Л
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по проектированию объекта: «Подключение объекта нефтедобычи ООО «УДС нефть» к магистральному нефтепроводу «Сургут-Полоцк» на ЛПДС «Лысьва»
        .table-cell(data-cell="Наименование объекта")   
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 22.03.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 29.03.2019
        .table-cell(data-cell="Тендерная документация")
            .table-content   
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content 
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="5700")
        .table-cell(data-cell="№ тендера")
            .table-content № 1830-Выс
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по бурению эксплуатационных скважин куста №4 Высоковского месторождения
        .table-cell(data-cell="Наименование объекта")
            .table-content «Высоковское месторождение»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 11.03.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 15.03.2019
        .table-cell(data-cell="Тендерная документация")  
            .table-content
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка") 
            .table-content 
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="6000")
        .table-cell(data-cell="№ тендера")
            .table-content № 1828-Выс
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Выполнение работ по бурению эксплуатационных скважин куста №3 Высоковского месторождения
        .table-cell(data-cell="Наименование объекта")
            .table-content «Высоковское месторождение»
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 11.03.2019
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 15.03.2019
        .table-cell(data-cell="Тендерная документация")
            .table-content   
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")
            .table-content    
                a(href="#") udsoil.ru
    .table-row.table-row__close(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="6300")
        .table-cell(data-cell="№ тендера")
            .table-content № 1730-УДСН
        .table-cell.table-cell__opener.js-openspoiler(data-cell="Наименование тендера")
            .table-title Поставка спецодежды и СИЗ на 2019год
        .table-cell(data-cell="Наименование объекта") 
        .table-cell(data-cell="Дата окончания подачи заявок")
            .table-content 21.12.2018
        .table-cell(data-cell="Ориентировочная дата проведения тендера")
            .table-content 28.12.2018
        .table-cell(data-cell="Тендерная документация")
            .table-content  
                a(href="#") Скачать
        .table-cell(data-cell="Изменения к тендерной документации")
        .table-cell(data-cell="Тендерная площадка")  
            .table-content
                a(href="#") udsoil.ru
    