
.table
    .table-row-head
        .table-cell № тендера
        .table-cell Наименование тендера
        .table-cell Наименование объекта
        .table-cell Дата окончания подачи заявок
        .table-cell Ориентировочная дата проведения тендера
        .table-cell Тендерная документация
        .table-cell Изменения к тендерной документации
        .table-cell Тендерная площадка
    .table-row
        .table-cell 1928-УДСН
        .table-cell Оказание услуг по транспортировке нефтесодержащей жидкости для ООО «УДС нефть»
        .table-cell Зотовское м/р – УПН Азинского м/р
        .table-cell 24.05.2019
        .table-cell 31.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1923-Ял
        .table-cell Выполнение работ по строительству автомобильной дороги
        .table-cell «Обустройство Ялыкского нефтяного месторождения. Первый этап»
        .table-cell 31.05.2019
        .table-cell 07.06.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1922-УДСН/Ял2,2а
        .table-cell Выполнение работ по проведению негосударственной экспертизы проектной документации и результатов инженерных изысканий для получения разрешения на строительство.
        .table-cell «Обустройство Ялыкского нефтяного месторождения. Куст №2», «Обустройство Ялыкского нефтяного месторождения. Куст №2а»
        .table-cell 24.05.2019
        .table-cell 31.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1920-УДСН
        .table-cell Оказание услуг по разработке проекта нормативов образования отходов и лимитов на их размещение (ПНООЛР)
        .table-cell Дубровинское, Ялыкское, Костоватовское месторождения нефти
        .table-cell 24.05.2019
        .table-cell 31.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1928-УДСН
        .table-cell Оказание услуг по транспортировке нефтесодержащей жидкости для ООО «УДС нефть»
        .table-cell Зотовское м/р – УПН Азинского м/р
        .table-cell 24.05.2019
        .table-cell 31.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1913-Р /ВЧ,Мут
        .table-cell Выполнение работ по разработке необходимой документации для получения комплексного экологического разрешения (КЭР)
        .table-cell «Верхне-Чусовское месторождение нефти, Мутнинское месторождение нефти ООО «РИФ»
        .table-cell 17.05.2019
        .table-cell 31.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1912-УДСН/Выс2,3,Ив2
        .table-cell Выполнение работ по проведению экспертизы проектной документациии инженерных изысканий по объектам
        .table-cell «Обустройство куста №3 Высоковского месторождения нефти», «Обустройство куста №4 Высоковского месторождения нефти», «Обустройство куста №2 Ивановского месторождения нефти»
        .table-cell 17.05.2019
        .table-cell 24.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1908-УДСН
        .table-cell Выполнение работ по проектированию объекта «Автомобильная дорога д.Девятово-УПН Азинского нефтяного месторождения»
        .table-cell 
        .table-cell 17.05.2019
        .table-cell 24.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1903-УДСН
        .table-cell Оказание услуг по аренде приводов ШГН (далее «привод»)
        .table-cell 
        .table-cell 08.05.2019
        .table-cell 17.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1902-УДСН/Выс
        .table-cell Определение подрядчика для сдачи в аренду газосепаратора бурового раствора СРБ-2 с целью проведения работ на испытание газа скв. 231
        .table-cell «Высоковское месторождение»
        .table-cell 08.05.2019
        .table-cell 17.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1899-ПСП /МП
        .table-cell Выполнение работ по капитальному ремонту АБК
        .table-cell «ПСП Малая Пурга»
        .table-cell 08.05.2019
        .table-cell 17.05.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1894-УДСН/Кас
        .table-cell Выполнение работ по мониторингу окружающей среды и состояния недр Касалинского месторождения нефти
        .table-cell «Касалинское месторождение нефти»
        .table-cell 26.04.2019
        .table-cell 
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1892-УДСН/Кас
        .table-cell Выполнение работ по отбору проб и проведению анализа выбросов от источников выбросов в атмосферный воздух
        .table-cell Азинское месторождение нефти, Нефедовское месторождение нефти, Производственная база АО «Чепецкое НГДУ
        .table-cell 26.04.2019
        .table-cell 
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1897-Р/ПНН
        .table-cell Выполнение работ по разработке документации «Техническое перевооружение объекта: Строительство ППН (пункт приема нефти) с УУН (узел учета нефти) в районе УППН «Каменный лог»
        .table-cell 
        .table-cell 26.04.2019
        .table-cell 
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1896-УДСН/Кул
        .table-cell Выполнение работ по проектированию объекта «Обустройство Кулигинского нефтяного месторождения. Куст №3 и №3а»
        .table-cell 
        .table-cell 26.04.2019
        .table-cell 
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1882-УДСН
        .table-cell Проведение работ по гидравлическому разрыву пласта
        .table-cell 
        .table-cell 19.04.2019
        .table-cell 26.04.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1875-УДСН
        .table-cell Оказание услуг на поставку, прокат, обслуживание и ремонт программно-аппаратного комплекса для мониторинга работы многопластовых скважин, оснащенных УЭЦН на 2019г
        .table-cell 
        .table-cell 19.04.2019
        .table-cell 26.04.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1836-ПСП/Л
        .table-cell Выполнение работ по проектированию объекта: «Подключение объекта нефтедобычи ООО «УДС нефть» к магистральному нефтепроводу «Сургут-Полоцк» на ЛПДС «Лысьва»
        .table-cell 
        .table-cell 22.03.2019
        .table-cell 29.03.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1830-Выс
        .table-cell Выполнение работ по бурению эксплуатационных скважин куста №4 Высоковского месторождения
        .table-cell «Высоковское месторождение»
        .table-cell 11.03.2019
        .table-cell 15.03.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1828-Выс
        .table-cell Выполнение работ по бурению эксплуатационных скважин куста №3 Высоковского месторождения
        .table-cell «Высоковское месторождение»
        .table-cell 11.03.2019
        .table-cell 15.03.2019
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    .table-row
        .table-cell 1730-УДСН
        .table-cell Поставка спецодежды и СИЗ на 2019год
        .table-cell 
        .table-cell 21.12.2018
        .table-cell 28.12.2018
        .table-cell  
            a(href="#") Скачать
        .table-cell
        .table-cell  
            a(href="#") udsoil.ru
    