section.development#development    
    .development-flex
        .development-col    
            h2.development-title(data-aos="fade-left" data-aos-duration="1000") Развитие
            .development-graph
                .graph-description Численность персонала
                .graph-param количество человек
                canvas#graph.graph-canvas(data-labels="2013, 2014, 2015, 2016, 2017, 2018, 2019", data-points="104, 125, 260, 275, 391, 600, 600") 
        .development-content
            .development-item   
                .development-number
                    span 2013 
                    | год  
                .development-text основание компании
            .development-item 
                .development-number
                        span 600 
                        | сотрудников
                .development-text экспертно решают задачи любой сложности
            .development-item 
                .development-number
                        span 15 
                        | млн рублей
                .development-text направили в 2018 году на социально значимые и благотворительные проекты
            .development-item 
                .development-number
                        span 3 
                        | региона присутствия
                .development-text Удмуртская Республика, Пермский край, Республика Башкортостан
            .development-item 
                .development-number
                        span 6,9 
                        | млрд рублей
                .development-text налогов перечислили в 2018 году в бюджет Российской Федерации, 1 млрд руб. – в бюджет Удмуртской Республики, 53 млн руб. – в бюджет Пермского края 