section.development
    h2.development-title Развитие
    .development-flex
        .development-graph
            .graph-description Рост численности персонала
            .graph-param количество человек
            //- canvas#graph.graph-canvas
            canvas#graph.graph-canvas 
                //-img.graph-small(src="images/Infographic_small.png")
                //-img.graph-midle(src="images/Infographic_midle.png")
                //-img.graph-big(src="images/Infographic.png")
        .development-content
            .development-item   
                .development-number
                    span 2013 
                    | год  
                .development-text основание компании
            .development-item 
                .development-number
                        span 600 
                        | сотрудников
                .development-text экспертно решают задачи любой сложности
            .development-item 
                .development-number
                        span 15 
                        | млн рублей
                .development-text направили в 2018 году на социально значимые и благотворительные проекты
            .development-item 
                .development-number
                        span 3 
                        | региона присутствия
                .development-text Удмуртская Республика, Пермский край, Республика Башкортостан
            .development-item 
                .development-number
                        span 6,9 
                        | млрд рублей
                .development-text налогов перечислили в 2018 году в бюджет Российской Федерации, 1 млрд руб. – в бюджет Удмуртской Республики, 53 млн руб. – в бюджет Пермского края 