.articles-title{
    position: relative;
    height: 56px;
    @media(min-width: $tablet){
        height: 112px;    
        margin-bottom: -60px;  
    }
    @media(min-width: $notebook){
        height: 184px;    
        margin-bottom: -101px;  
    }
    @media(min-width: $desktop){ 
        height: 296px;    
        margin-bottom: -170px;       
    }
    &:before{
        content: '';
        background: #FFCC08;
        position: absolute;
        left: 0;
        right: 32px;
        top: 0;
        bottom: 0;
        display: block;
        z-index: -1;
        @media(min-width: $tablet){
            right: auto; 
            width: 538px;     
        }
        @media(min-width: $notebook){ 
            width: 984px;     
        } 
        @media(min-width: $desktop){ 
            width: 1454px;     
        }        
    }
    &-container{
        @media(min-width: $desktop){ 
            margin: 0 auto;
            width: 100%;
            position: relative;
            max-width: 1504px;
        }
    }
} 
.articles-h2{
    h2{
        position: absolute;
        bottom: -3px;
        left: 32px;
        display: block;
        font-size: 24px;
        @media(min-width: $tablet){
            writing-mode:  vertical-lr;    
            transform: rotate(180deg);
            font-weight: 600;
            font-size: 34px;
            line-height: 40px;
            left: 16px;
            bottom: auto;
            top: 52px;
        } 
        @media(min-width: $notebook){
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            top: 79px;
            left: 35px;
        }
        @media(min-width: $desktop){
            font-size: 72px;
            line-height: 90px;
            left: -177px;
            top: 123px;
        }
    }
}
