mixin articlesTitle(name)
    .articles-title
        .articles-title-container
            .articles-h2(data-aos="fade-up" data-aos-duration="3000" data-aos-anchor-placement="top-bottom")
                h2= name