mixin topbanner(h1, descript, image)
    .topbanner        
        .topbanner-container
            h1.topbanner-title= h1
            p.topbanner-descript=  descript
            .topbanner-background(style=image)   
    .topbanner-nav
        a(href="#").topslider-icon#js-bottomscroll
            svg.topslider-icon-static(role="img")(width="40")(height="40"): use(xlink:href="#pump") 
            img.topslider-icon-move(src="/images/svg/pump_move.svg" )(width="40")(height="40")(frameborder="0")