.contacts
    .contacts-left
        .contacts-title
            h1.contacts-h1(data-aos="fade-left" data-aos-duration="3000") Контакты   
        .contacts-content 
            .contacts-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300")  
                h3.contacts-h3  Мы находимся
                p 426004, Удмуртская Республика, г. Ижевск, 
                p ул. Ленина, 21, БЦ "Форум"
            .contacts-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600") 
                h3.contacts-h3 Режим работы
                p пн-пт: с 8:30 до 17:30
                p сб-вс: выходные дни
            .contacts-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="900")
                h3.contacts-h3 Телефон
                a.contacts-phone(href="tel:+73412998000") +7 (3412) 998-000
            .contacts-item(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300")
                h3.contacts-h3 E-mail
                a.contacts-email(href="mailto:+73412998000") info@udsoil.ru
    .contacts-right(data-aos="fade-left" data-aos-duration="3000") 
        .contacts-container
            .contacts-map#contactsmap(style="width: 100%; height: 100%")
