.contactperson
    .contactperson-title(data-aos="fade-right" data-aos-duration="1000") По коммерческим условиям реализации нефти с&nbsp;нами&nbsp;можно&nbsp;связаться:
        .contactperson-block
            .contactperson-pick(data-aos="fade-right" data-aos-duration="1000") 
                img(src="assets/lyamin.jpg" alt="Денис Викторович Лямин").contactperson-img 
            .contactperson-description(data-aos="fade-left" data-aos-duration="1000") 
                .contactperson-name
                    .contactperson-strong Денис Викторович Лямин
                    .contactperson-grey
                        nobr директор ООО «ВЕТЛА»,
                        nobr ООО «ВЕТЛА-Трейдинг»
                .contactperson-items
                    .contactperson-item
                        .contactperson-desc Тел. моб. (Viber/Whatsapp)
                        a(href="tel:+79128567607").contactperson-phone + 7 (912) 856-76-07
                    .contactperson-item
                        .contactperson-desc Телефон
                        a(href="tel:+73412998000").contactperson-phone +7 (3412) 998-000, доб. 126
                    .contactperson-item
                        .contactperson-desc Факс
                        a(href="tel:+73412998000").contactperson-phone +7 (3412) 998-000, доб. 109
                    .contactperson-item
                        .contactperson-desc E-mail
                        a(href="mailto:D.Lyamin@uds18.ru").contactperson-phone D.Lyamin@uds18.ru