.newsdetail{    
    @media(min-width:$tablet){
        margin-top: -29px;
    }
    @media(min-width:$notebook){
        width: 66%;
        margin: 0 auto;
        position: relative;
        border-top: 0;
        margin-top: -29px;
    }
    @media(min-width:$desktop){
        margin-top: 0;
    }
    &-content{
        margin: 32px 0;
        @media(min-width:$tablet){
            margin: 54px 0;
        }
        @media(min-width:$notebook){
            margin: 32px 0;
        }
    }
    &-date{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #7C7C7C;
        margin-bottom: 10px;
        display: block;
        @media(min-width:$tablet){
            font-size: 16px;
            letter-spacing: 0.15px;
        }
    }
    &-title{
        font-weight: 600;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
        @media(min-width:$tablet){
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.25px;
        }
        @media(min-width:$notebook){
            font-size: 40px;
            line-height: 56px;
        }
        @media(min-width:$desktop){
            font-size: 56px;
            line-height: 64px;
        }       
    }
    &-anons{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin: 22px 0;
        @media(min-width:$tablet){
            font-size: 16px;
        }
        @media(min-width:$notebook){
            font-size: 18px;
            line-height: 24px;
            margin: 34px 0;
        }
        @media(min-width:$desktop){
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.15px;
            margin: 43px 0;
        }
    }
    &-pick{
        margin: 22px 0;
    }
    &-img{
        max-width: 100%;
    }
    &-text{
        p{
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            @media(min-width:$notebook){
                font-size: 16px;
            }
            @media(min-width:$desktop){
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                letter-spacing: 0.5px;
                margin-bottom: 38px;
            }
        }
        @media(min-width:$desktop){
            margin: 56px 0;
        }
        a{
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #282828;
            text-decoration: none;
            display: inline-block;
            padding-bottom: 5px;
            &:after{
                content: '';
                background: #FFCC08;
                height: 2px;
                position: absolute;
                width: 32px;
                left: 0;
                bottom: 0; 
                transition: width .3s;
            }
            &:hover{
                &:after{
                    width: 0;
                }
            }
        }
    } 
    &-quote{
        background-color: #FAFBFC;
        background-image: url(../images/svg/team-bg.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        margin: 31px -32px;
        padding: 32px; 
        @media(min-width:$tablet){
            margin: 41px 0;
            padding: 31px 64px;
        }
        @media(min-width:$notebook){
            padding: 31px 72px 58px 72px;
        }
        @media(min-width:$desktop){
            padding: 46px 96px 54px 96px;
        }
        &:before {
            content: '';
            width: 36px;
            height: 32px;
            display: block;
            background-repeat: no-repeat;
            background: url(../images/svg/quote.svg);
            margin-bottom: 27px;
            position: relative;
            @media(min-width:$tablet){
                float: right;
            }
        }
        &-header{
            position: relative; 
            margin-bottom: 15px;           
            &:after{
                content: '';
                width: 120px;
                height: 4px;
                background: #FFCC08;
                position: absolute;
                left: 0;
                @media(min-width:$tablet){
                    width: 80px;
                }
                @media(min-width:$notebook){
                    width: 88px;
                }
                @media(min-width:$desktop){
                    width: 128px;
                }
            }
        }
        &-name{
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            @media(min-width:$notebook){
                font-size: 16px;
            }  
            @media(min-width:$desktop){
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.5px;
            }          
        } 
        &-description{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #7C7C7C;
            margin: 5px 0;
        }
        &-content{
            @media(min-width:$tablet){
                margin-top: 11px;
            }
            @media(min-width:$desktop){
                margin-top: 25px;
            }
            p{
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 20px; 
                &:last-child{
                    margin-bottom: 0; 
                }
                @media(min-width:$notebook){
                    font-size: 16px;
                    letter-spacing: 0.15px;
                    margin-top: 28px;
                }
                @media(min-width:$desktop){
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 32px;
                    letter-spacing: 0.5px;
                    margin-top: 0px;
                    margin-bottom: 0;
                }
            }

        }
    }
}