.newsdetail-content
    date.newsdetail-date 12 марта 2018
    h1.newsdetail-title В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров 
    .newsdetail-anons За победу в соревновании и звание «Лучший по профессии» боролись электромонтеры по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании
    .newsdetail-pick 
        img.newsdetail-img(src="../assets/news2.jpg")
    .newsdetail-text 
        p В «УДС нефть» прошел пятый в этом году конкурс профессионального мастерства. Он объединил лучших специалистов по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании.
        p Программа мероприятия традиционно состояла из двух частей — теоретической и практической. Проверкой знаний для конкурсантов стало тестирование: за 45 минут им предстояло ответить на вопросы по основной деятельности, охране труда при работах на электроустановках. Все участники справились с первым испытанием досрочно, показали хороший уровень подготовки и достойные результаты. Наибольшее количество баллов по итогам теста набрал электромонтер Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение).
        p Успешное применение знаний на практике электромонтеры продемонстрировали в практической части конкурса. В качестве задания им предстояло выполнить монтаж, наладку и пуск электродвигателя согласно предложенной схеме. Критериями оценки на этом этапе служили качество, скорость, рациональность и безопасность выполнения работ, эстетичность и работоспособность схемы, правильность использования инструмента, культура производства.
    .newsdetail-quote
    .newsdetail-text 
        p По итогам двух конкурсных испытаний победителем и обладателем почетного звания «Лучший по профессии» среди электромонтеров по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа «УДС нефть» стал Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение). Второе место занял немного уступивший лидеру Дмитрий Полянских, бригада № 1 по ремонту и обслуживанию электрооборудования (Азинское месторождение), на третьем месте Валерий Матвеев, энергослужба ЗАО «ЧНГДУ».    