.newsdetail-content
    date.newsdetail-date(data-aos="fade-left" data-aos-duration="3000" data-aos-delay="300") 12 марта 2018
    h1.newsdetail-title(data-aos="fade-left" data-aos-duration="3000" data-aos-delay="600") В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров 
    .newsdetail-anons(data-aos="fade-left" data-aos-duration="3000" data-aos-delay="900") За победу в соревновании и звание «Лучший по профессии» боролись электромонтеры по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании
    .newsdetail-pick(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1200") 
        img.newsdetail-img(src="../assets/news2.jpg")
    .newsdetail-text(data-aos="fade-up" data-aos-duration="3000") 
        p В «УДС нефть» прошел пятый в этом году конкурс профессионального мастерства. Он объединил лучших специалистов по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании.
        p Программа мероприятия традиционно состояла из двух частей — теоретической и практической. Проверкой знаний для конкурсантов стало тестирование: за 45 минут им предстояло ответить на вопросы по основной деятельности, охране труда при работах на электроустановках. Все участники справились с первым испытанием досрочно, показали хороший уровень подготовки и достойные результаты. Наибольшее количество баллов по итогам теста набрал электромонтер Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение).
        p Успешное применение знаний на практике электромонтеры продемонстрировали в практической части конкурса. В качестве задания им предстояло выполнить монтаж, наладку и пуск электродвигателя согласно предложенной схеме. Критериями оценки на этом этапе служили качество, скорость, рациональность и безопасность выполнения работ, эстетичность и работоспособность схемы, правильность использования инструмента, культура производства.
    .newsdetail-quote(data-aos="fade-left" data-aos-duration="3000")
        .newsdetail-quote-header
            .newsdetail-quote-name Юрий Веретенников
            .newsdetail-quote-description электромонтер энергослужбы ЗАО «ЧНГДУ».
        .newsdetail-quote-content   
            p Я впервые участвую в таком соревновании, и без волнения, конечно, не обошлось.
            p Тем более, практическое задание мы с коллегой Валерием Матвеевым выполняли тоже первыми. Теория была несложной, мы каждый год сдаем экзамен на группу допуска по электробезопасности, готовимся к нему, так что в тесте никаких неожиданных вопросов для меня не было. На практике волновался сильнее, все-таки конкурс — это повышенная ответственность не только перед жюри, но и перед собой и коллегами.
    .newsdetail-text(data-aos="fade-left" data-aos-duration="3000") 
        p По итогам двух конкурсных испытаний победителем и обладателем почетного звания «Лучший по профессии» среди электромонтеров по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа «УДС нефть» стал Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение). Второе место занял немного уступивший лидеру Дмитрий Полянских, бригада № 1 по ремонту и обслуживанию электрооборудования (Азинское месторождение), на третьем месте Валерий Матвеев, энергослужба ЗАО «ЧНГДУ».    