.mobilemenu  .header-lang{
    position: absolute;
    right: 24px;
    bottom: 32px;    
}

.lang-link{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background:  #FFCC08;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    color: #282828;
    transition: background .3s;
    &:hover{
        background: #F4C40A;
    }    
    @media(min-width: $desktop){
        width: 56px;
        height: 56px;
        padding-top: 20px;
        font-weight: 600;
        font-size: 14px;
    }
}