.production
    h2.production-h2(data-aos="fade-left" data-aos-duration="3000") Компания «УДС нефть» включает следующие производственные блоки:
    .production-item(data-aos="fade-up" data-aos-duration="3000")
        .production-pick 
            img.production-image(src="assets/image.jpg" alt="") 
        .production-content
            .production-title
                h3.production-h3 Испытательная лаборатория
            .production-text 
                p В состав ЦДНГ – 2 входят одно нефтегазовое месторождение находящиеся на территории Берёзовского и Кунгурского районов и один лицензионный участок на территории Куединского района Пермского края.
    .production-item(data-aos="fade-up" data-aos-duration="3000")
        .production-pick 
            img.production-image(src="assets/image1.jpg" alt="") 
        .production-content
            .production-title
                h3.production-h3 Приемо-сдаточный пункт «Малая Пурга» (СИКН №820)
            .production-text 
                p В состав ЦДНГ – 2 входят одно нефтегазовое месторождение находящиеся на территории Берёзовского и Кунгурского районов и один лицензионный участок на территории Куединского района Пермского края.
    .production-item(data-aos="fade-up" data-aos-duration="3000")
        .production-pick 
            img.production-image(src="assets/image2.jpg" alt="") 
        .production-content
            .production-title
                h3.production-h3 Цех по добыче и подготовке нефти №1
            .production-text 
                p В состав ЦДНГ – 2 входят одно нефтегазовое месторождение находящиеся на территории Берёзовского и Кунгурского районов и один лицензионный участок на территории Куединского района Пермского края.
    .production-item(data-aos="fade-up" data-aos-duration="3000")
        .production-pick 
            img.production-image(src="assets/image.jpg" alt="") 
        .production-content
            .production-title
                h3.production-h3 Цех по добыче нефти и газа №2
            .production-text 
                p В состав ЦДНГ – 2 входят одно нефтегазовое месторождение находящиеся на территории Берёзовского и Кунгурского районов и один лицензионный участок на территории Куединского района Пермского края.
    .production-item(data-aos="fade-up" data-aos-duration="3000")
        .production-pick 
            img.production-image(src="assets/image.jpg" alt="") 
        .production-content
            .production-title
                h3.production-h3 Парк специализированной техники
            .production-text 
                p Новое активно развивающееся направление, предоставляющее технику для капитального ремонта скважин и перевозки нефти.
                p
                    strong Основные задачи:
                ul.checklist
                    li.checklist-li Обеспечение оперативным и вахтовым транспортом;
                    li.checklist-li Хранение, техническое обслуживание подвижного состава;
                    li.checklist-li Организация перевозок нефти и нефтесодержащей жидкости.
