header.withoutslider.withoutslider__withoutshadow
    .container
        .header-top    
            include ../header/headerTopLight/headerTopLight
    .header-middle
        include ../../components/blackLogo/blacklogo
        include ../../components/bigmenu/bigmenu
        include ../../components/headerLang/headerLang
        include ../../components/headerWidget/headerWidget