.activity{  
    &-flex{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
    }
    &-regions{
        box-sizing: border-box;
        margin: 0 8px 25px 8px;
        width: calc(50% - 16px);
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #282828;
        @media(min-width: $tablet){
            font-size: 16px;
            width: calc(25% - 16px);
            letter-spacing: 0.15px;
        }
        @media(min-width: $desktop){
            font-size: 18px;
        }
        svg{
            color: #FFCC08;
            fill: #FFCC08;
        }
    }
    &-kinds{
        margin: 0 8px 25px 8px;
        width: calc(100% - 16px);
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #282828;
        box-sizing: border-box;
        @media(min-width: $tablet){
            font-size: 16px;
            width: calc(50% - 16px);
            letter-spacing: 0.15px;
            padding: 0 30px;
        }
        @media(min-width: $desktop){
            width: calc(25% - 16px);
            padding: 0 22px;
        }
    }
    &-yellow{
        width: 104px;
        height: 104px;
        background: #FFCC08;
        border-radius: 100%;
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
        padding-top: 23px;
        margin-bottom: 7px; 
        @media(min-width: $desktop){
            margin-bottom: 14px; 
        }      
    }
    &-ol{
        counter-reset: myCounter;
        margin-top: 23px;
        @media(min-width: $tablet){
            margin-top: 38px;
        }        
        @media(min-width: $desktop){
            margin-top: 62px;
        }
    }
    &-li{
        list-style: none;      
        display: flex;  
        width: calc(100% - 16px);
        margin: 0 8px 23px 8px;
        align-content: flex-start;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #282828;
        @media(min-width: $tablet){
            width: calc(50% - 16px);
            letter-spacing: 0.15px;
            font-size: 16px;
            margin-bottom: 54px;
            letter-spacing: 0.15px;
        }
        @media(min-width: $notebook){
            margin-bottom: 66px;
        }
        @media(min-width: $desktop){
            margin-bottom: 104px;
            font-size: 18px;
            letter-spacing: 0.5px;   
        }
        &:before{
            counter-increment: myCounter;
            content:counter(myCounter);
            font-weight: 600;
            font-size: 40px;            
            color:  #FFCC08;
            margin-right: 8px;
            margin-top: 8px;
            @media(min-width: $tablet){
                font-size: 56px;
            }
            @media(min-width: $desktop){
                font-size: 72px;
                margin-right: 16px;
            }
        }  
    }
}
.container__gray{
    margin: 30px 0;
    background: #FAFBFC;
    padding: 10px 0;
    @media(min-width: $tablet){
        margin: 57px 0;        
    }
    @media(min-width: $notebook){
        margin-bottom: 49px;
    }
    @media(min-width: $desktop){
        margin-top: 62px;        
    }
}