.activity
    .content   
        .content-block
            h2(data-aos="fade-right" data-aos-duration="1000") Компания «УДС&nbsp;нефть» 
            p(data-aos="fade-up" data-aos-duration="1000")  Работает в составе холдинга UDS group с 2013 года. Компания имеет полноценную материально-техническую базу, необходимые ресурсы и оборудование для добычи и подготовки нефти.
            p(data-aos="fade-up" data-aos-duration="1000")  Развитие ключевых направлений бизнеса, а именно: мероприятия по геологоразведке, разработке и эксплуатации месторождений позволяют «УДС нефть» поддерживать высокие темпы роста.
        .content-block
            h3(data-aos="fade-right" data-aos-duration="1000") Регионы присутствия
            .activity-flex
                figure.activity-regions(data-aos="fade-up" data-aos-duration="1000")               
                    svg(role="img")(width="48")(height="48"): use(xlink:href="#pump")
                    figcaption Удмуртская Республика                            
                figure.activity-regions(data-aos="fade-up" data-aos-duration="1000")                    
                    svg(role="img")(width="48")(height="48"): use(xlink:href="#pump")
                    figcaption Пермский  край 
                figure.activity-regions(data-aos="fade-up" data-aos-duration="1000")                  
                    svg(role="img")(width="48")(height="48"): use(xlink:href="#pump")
                    figcaption Республика Башкортостан
                figure.activity-regions(data-aos="fade-up" data-aos-duration="1000") 
                    svg(role="img")(width="48")(height="48"): use(xlink:href="#pump")
                    figcaption Иркутская  область
        .content-block
            h3(data-aos="fade-right" data-aos-duration="1000") Основные виды деятельности
            .activity-flex
                figure.activity-kinds(data-aos="fade-up" data-aos-duration="1000")  
                    .activity-yellow            
                        svg(role="img")(width="48")(height="48"): use(xlink:href="#mining")
                    figcaption Добыча нефти и газа
                figure.activity-kinds(data-aos="fade-up" data-aos-duration="1000")  
                    .activity-yellow            
                        svg(role="img")(width="48")(height="48"): use(xlink:href="#geological")
                    figcaption Геологоразведочные работы
                figure.activity-kinds(data-aos="fade-up" data-aos-duration="1000")  
                    .activity-yellow            
                        svg(role="img")(width="48")(height="48"): use(xlink:href="#tank")
                    figcaption Транспортировка нефти и&nbsp;нефтесодержащей жидкости
                figure.activity-kinds(data-aos="fade-up" data-aos-duration="1000")  
                    .activity-yellow            
                        svg(role="img")(width="48")(height="48"): use(xlink:href="#worker")
                    figcaption Капитальный и текущий ремонт скважин
        .content-block    
            h3(data-aos="fade-right" data-aos-duration="1000") Компания реализует долгосрочные программы,
                br 
                | целью которых является:
            ol.activity-ol.activity-flex  
                li.activity-li(data-aos="fade-up" data-aos-duration="1000")  Повышение качества подготовки 
                    br
                    | добываемого сырья
                li.activity-li(data-aos="fade-up" data-aos-duration="1000")  Повышение социальной
                    br
                    | ответственности  
                li.activity-li(data-aos="fade-up" data-aos-duration="1000")  Сохранение благоприятной окружающей 
                    br 
                    | среды и рациональное использование природных ресурсов
                li.activity-li(data-aos="fade-up" data-aos-duration="1000")  Повышение технологической
                    br 
                    | и экономической эффективности, снижение себестоимости  