meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
meta(name="description" content="Компания UDS oil входит в холдинг &quot;UDS group&quot; и ведёт разработку месторождений нефти и газа на территории Пермского края и Удмуртской республики.")
meta(name="keywords" content="uds oil, удс нефть, удс нефть ижевск, нефтедобыча, объекты нефтедобычи, нефть добыча, газ добыча, добыча нефти +и газа, добыча нефти +в россии, нефть месторождение, добыча газа +в россии, добыча природного газа, газ месторождение, лидеры +по добыче газа, добыча нефти скважине, транспортировка нефти, газпром добыча, газпром нефть, Роснефть добыча, удмуртнефть, белкамнефть, башнефть добыча")
meta(property='og:title', content='Udsoil - компания УДС-Нефть')
meta(property='og:description', content='Компания UDS oil входит в холдинг &quot;UDS group&quot; и ведёт разработку месторождений нефти и газа на территории Пермского края и Удмуртской республики.')
meta(property='og:image', content=' ')
meta(property='og:type', content='article')
meta(property='og:url', content='')
meta(name="robots" content="noindex, nofollow")
link(rel="shortcut icon", href="../../../favicon.gif", type="image/x-icon")
