script(src="libs/jquery-3.3.1.min.js")
script(src="libs/owl.carousel.min.js")
script(src="libs/slick.min.js")
script(src="libs/chart.min.js")
script(src="libs/chartjs-plugin-datalabels.js")
//-script(src="libs/Chart.LinearGauge.js")
script(src="scripts/all.js")
