.footer{
    background: #282828;
    padding-top: 40px;
    padding-bottom: 33px;
    color: #FFFFFF;
    @media(min-width: $tablet){
        padding-top: 60px; 
    }
    &-phone{
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        margin: 20px 0;
        display: block;
        text-decoration: none;
        color: #FFFFFF;
        transition: color .3s;
        &:hover{
            color:  #E0E0E0;
        }
        @media(min-width: $tablet){
            width: 50%;
            margin: 0;
        }
        @media(min-width: $desktop){
            font-weight: 600;
            font-size: 40px;
            line-height: 56px;
        }
    }
    &-svg{
        @media(min-width: $desktop){
           width: 184px;
           height: 41px; 
        }
    }
    &-item{
        margin: 20px 0;
        @media(min-width: $tablet){
            max-width: 235px;
        }
        @media(min-width: $notebook){
           width: 33%;
           max-width: 33%;
        }
        &__laptop{
          display: none;  
            @media(min-width: $notebook){
                display: block;
            }
        } 
    }
    &-title{
        color: #9A9A9A;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.15px;
        margin: 7px 0;
        @media(min-width: $desktop){
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-info{
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        @media(min-width: $desktop){
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
        }
        p{
            @media(min-width: $desktop){
               &:first-of-type{
                    margin-bottom: 20px;   
               }                             
            }  
        }
    }
    &-email{
        display: block;
        color: #FFCC08;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.15px;
        text-decoration: none;
        transition: color .3s;
        &:hover{
            color:  #E0E0E0;
        }
        @media(min-width: $desktop){
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
        }
    }
    &-link{
        display: block;
        color: #FFCC08;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.15px;
        text-decoration: none;
        transition: color .3s;
        &:hover{
            color:  #E0E0E0;
        }
        @media(min-width: $desktop){
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-copyright{
        margin-top: 20px;
        color:  #9A9A9A;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        @media(min-width: $tablet){
            display: flex;
            justify-content: space-between;
            margin-top: 74px;
        }
        @media(min-width: $desktop){
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
        }
        p{
            margin: 15px 0;
            @media(min-width: $tablet){
                margin: 0;
            }
            @media(min-width: $notebook){
                width: 33%;
            }
            @media(min-width: $desktop){
                width: 34%;
            }
        }
        &-link{
            text-decoration: none;
            color: #fff;
            transition: color .3s;
            &:hover{
                color:  #E0E0E0;
            }
        }
        .footer-uds{
            @media(min-width: $notebook){
                width: auto;
            }
        }        
    }
    &-flex{
        @media(min-width: $tablet){
            display: flex;
        }
    }
    &-logo{
        @media(min-width: $tablet){
            width: 50%
        }
        @media(min-width: $notebook){
            width: 33%;
        }
    }
    &-contacts{
        @media(min-width: $tablet){
            display: flex;
            margin-top: 20px;
        }
        @media(min-width: $desktop){
            margin-top: 42px;
        }
    } 
    &-right{
        @media(min-width: $tablet){
            width: 50%;
            order: 1;
        }
        @media(min-width: $notebook){
            display: none;
        }        
    }
    &-left{
        @media(min-width: $tablet){
            width: 50%;
        }
        @media(min-width: $notebook){
            width: 100%;
            display: flex;            
        } 
    }
    &-uds{
        @media(min-width: $tablet){
            order: -1;
        }
    }
}