footer.footer
    .container
        .footer-flex
            .footer-logo
                svg.footer-svg(role="img")(width="136")(height="30"): use(xlink:href="#logo_white")
            a(href="tel:+73412998000").footer-phone +7 (3412) 998-000
        .footer-contacts
            .footer-right
                .footer-item
                    .footer-title Факс:
                    .footer-info +7 (3412) 908-627 (доб. 909)
                .footer-item
                    .footer-title E-mail:
                    .footer-info.footer-info__yellow 
                        a(href="mailto:info@udsoil.ru").footer-email info@udsoil.ru
            .footer-left
                .footer-item
                    .footer-title Адрес:
                    .footer-info 426057, г. Ижевск, 
                        br
                        | ул. Ленина, д. 21, БЦ «Форум»
                        br
                        a(href="mailto:info@udsoil.ru").footer-link Посмотреть на карте
                .footer-item.footer-item__laptop
                    .footer-title Факс:
                    .footer-info +7 (3412) 908-627 (доб. 909)
                    .footer-title E-mail:
                    .footer-info.footer-info__yellow 
                        a(href="mailto:info@udsoil.ru").footer-email info@udsoil.ru
                .footer-item
                    .footer-title Режим работы
                    .footer-info Пн-Пт: с 08:30 до 17:30
                        br
                        | Сб-Вс: выходные дни
        .footer-copyright
            p Политика конфиденциальности персональных данных
            p.footer-uds © 2019 «UDS OIL» Удмуртия
            .footer-picom Разработка сайта — &nbsp;
                a.footer-copyright-link(href="https://picom.ru") Picom 