.awards{
    margin-top: 30px;    
    @media(min-width: $tablet){
        margin-top: 48px; 
    }
    @media(min-width: $notebook){
        width: 100%;
        margin: 54px auto;
        position: relative;
    }
    &-h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        @media(min-width: $tablet){
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.25px;
            margin-bottom: 17px;
        }
    }  
    &-items{        
        @media(min-width: $tablet){
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto; 
            justify-content: space-between;
        }
        @media(min-width: $notebook){            
            &:hover{
                .awards-item{
                    opacity: 0.7;
                }
            }
        }  
    }
    &-item{
        @media(min-width:$tablet){
            width: calc(37% - 16px);
            margin: 0 8px;
        }              
        @media(min-width: $notebook){            
            width: auto;
            position: relative;
            &:hover{
                .awards-item-link{
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left:0;
                    bottom: 0;
                    right:0;
                    width: 100%;
                    height:100%;
                }
            }
        }
        &-link{
            display: none;
        }
    }
    &-img{
        @media(min-width: $notebook){            
            width: 100%;
        }
    }
    &-block{
        margin-top: 23px;
        margin-bottom: 31px;
        position: relative;
        display: block; 
        @media(min-width:$tablet){
            display: flex;
            margin: 15px -8px;
        }
        @media(min-width: $notebook){ 
            position: static;           
            &:hover{
                .awards-item{
                    opacity: 1;
                }
            }
        }
        &.hide{
            display: none;
            @media(min-width: $notebook){
                display: flex;
            }
        }        
    } 
    &-description{
        margin: 16px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        @media(min-width:$tablet){
            width: calc(63% - 16px);
            margin: 0 8px;
        } 
        @media(min-width: $notebook){
            display: none;
        }
    }   
    &-link{
        margin-top: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        display: block;
        text-decoration: none;
        position: relative;
        color: #282828;
        &:before{
            content: '';
            width: 30px;
            height: 2px;
            position: absolute;
            background: #FFCC08;
            display: block;
            bottom: -3px;
        }        
    }
    &-more{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
        background: #FFCC08;
        height: 64px;
        margin: 0 -32px;
        margin-top: 48px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
        @media(min-width:$tablet){
           height: 91px;
           margin: 0 -74px;
           margin-top: 60px;
           padding-top: 30px;
        }
        @media(min-width: $notebook){
            display: none;
        }
    }
    &-arrows{
        @media(min-width: $notebook){
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
        }
    }
    &-js-description{
        display: none;
        @media(min-width: $notebook){
            display: block;
            margin-top: 40px;
            height: 40px;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
        }
    }
}