.awards{
    margin-top: 30px;    
    @media(min-width: $tablet){
        margin-top: 54px; 
    }
    @media(min-width: $notebook){
        width: 66%;
        margin: 54px auto;
        position: relative;
    }
    &-h2{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        @media(min-width: $tablet){
            font-size: 34px;
            line-height: 40px;
            letter-spacing: 0.25px;
        }
    }  
    &-items{
        display: flex;
        flex-wrap: wrap;
        @media(min-width: $tablet){
            width: 75%;
            margin: 0 auto; 
            justify-content: space-between;
        }
        @media(min-width: $notebook){
            width: calc(100% + 30%);
            margin: 0 -15%;
            position: relative;
            padding-bottom: 50px;
        }
    }
    &-item{               
        @media(min-width: $tablet){
            margin: 23px 0;
        }
        @media(min-width: $notebook){            
            opacity: 0.7;
            &:hover{
                opacity: 1;
                transition: opacity .3s;                
            }
        }
    }
    &-block{
        margin: 23px 0;
        position: relative;
        display: block; 
        &.hide{
            display: none;
        }  
    } 
    &-description{
        margin: 20px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
    }   
    &-links{
        margin-top: 38px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        position: relative;
        color: #282828;
        &:before{
            content: '';
            width: 30px;
            height: 2px;
            position: absolute;
            background: #FFCC08;
            display: block;
            bottom: -3px;
        }
    }
    &-more{
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        letter-spacing: 0.15px;
        background: #FFCC08;
        height: 64px;
        margin: 0 -32px;
        margin-top: 30px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 15px;
    }
}