.awards
    h2.awards-h2(data-aos="fade-right"  data-aos-duration="3000")  Награды
    .awards-arrows(data-aos="fade-left"  data-aos-duration="3000") 
    .awards-items.owl-theme.owl-carousel(data-aos="fade-up"  data-aos-duration="3000") 
        .awards-block
            .awards-item
                img.awards-img(src='../assets/award.png')
                a.awards-item-link(href="../assets/award.png" download)
                   svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 1
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block
            .awards-item
                img.awards-img(src='../assets/award1.png')
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 2
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block
            .awards-item
                img.awards-img(src='../assets/award2.png')
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 3
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 4
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 5
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 6
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 7
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
                a(href="../assets/award.png" download).awards-link Скачать
        .awards-block.hide
            .awards-item
                img.awards-img(src='../assets/award3.png')            
                a.awards-item-link(href="../assets/award.png" download)
                    svg.awards-svg(role="img")(width="72")(height="72"): use(xlink:href="#arrow_down") 
            .awards-description
                p Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии» 
                a(href="../assets/award.png" download).awards-link Скачать
    .awards-more Показать ещё
    .awards-js-description