.awards
    h2.awards-h2 Награды
    .awards-items
        .awards-block
            a.awards-item(href="../assets/award.png")
                img.awards-img(src='../assets/award.png')
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block
            a.awards-item(href="../assets/award1.png")
                img.awards-img(src='../assets/award1.png')
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block
            a.awards-item(href="../assets/award2.png")
                img.awards-img(src='../assets/award2.png')
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
        .awards-block.hide
            a.awards-item(href="../assets/award3.png")
                img.awards-img(src='../assets/award3.png')            
            p.awards-description Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»
            a(href="../assets/award.png" download).awards-links Скачать
    .awards-more Показать ещё