.awards
    h2.awards-h2 Награды
    .awards-items
        a.awards-item(href="../assets/award.png" data-description="Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»")
            img.awards-img(src='../assets/award.png')
        a.awards-item(href="../assets/award1.png" data-description="Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»")
            img.awards-img(src='../assets/award1.png')
        a.awards-item(href="../assets/award2.png" data-description="Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»")
            img.awards-img(src='../assets/award2.png')
        a.awards-item(href="../assets/award3.png" data-description="Благодарственное письмо за помощь в создании научно-популярного издания «История строительства в Удмуртии»")
            img.awards-img(src='../assets/award3.png')            
    .awards-description 