include ../../components/articlesTitle/articlesTitle
include ../../components/newsPreview/newsPreview
include ../../components/moreLink/moreLink
section.main-articles#news
    +articlesTitle("Новости")
    .articles-items
        +newsPreview('../assets/news.png', 'В «УДС нефть» определили лучшего по профессии среди водителей автомобилей по перевозке спецжидкости', '13 ноября 2018')  
        +newsPreview('../assets/news1.png', '«УДС нефть» – участник производственно-технической конференции в сургуте', '13 ноября 2018')   
        +newsPreview('../assets/news2.jpg', 'Праздник мастерства и профессионализма', '13 ноября 2018')  
    +moreLink('grey', 'Архив новостей')


