.newsgallery
    h2.newsgallery-h2 Галерея
    .newsgallery-flex.newsgallery-popup
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        .newsgallery-item
            a(href="../assets/newsgallery.jpg").newsgallery-pick
                img.newsgallery-img(src="../assets/newsgallery.jpg")
        