.newsgallery
    h2.newsgallery-h2 Галерея
    .newsgallery-flex.newsgallery-popup
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        a(href="../assets/newsgallery.jpg").newsgallery-pick
            img.newsgallery-img(src="../assets/newsgallery.jpg")
        