.history{    
    &-content{
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin: 37px 0;
        p{
            margin-bottom: 14px;

        }
    }
    &-decription{
        font-weight: 600;
    }
}