.history
    .history-content 
        p.history-decription Компания «УДС нефть» специализируется на разработке нефтяных месторождений и добыче нефти на территории Удмуртской Республики, Пермского края, Республики Башкортостан, Иркутской области.
        p Под ним начинает работать ООО «Кунгурская нефтяная компания». В первый год добыча составила 12 584 тонны.    
        p В «УДС нефть» прошел пятый в этом году конкурс профессионального мастерства. Он объединил лучших специалистов по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании.
        p Программа мероприятия традиционно состояла из двух частей — теоретической и практической. Проверкой знаний для конкурсантов стало тестирование: за 45 минут им предстояло ответить на вопросы по основной деятельности, охране труда при работах на электроустановках. Все участники справились с первым испытанием досрочно, показали хороший уровень подготовки и достойные результаты. Наибольшее количество баллов по итогам теста набрал электромонтер Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение).
        p Успешное применение знаний на практике электромонтеры продемонстрировали в практической части конкурса. В качестве задания им предстояло выполнить монтаж, наладку и пуск электродвигателя согласно предложенной схеме. Критериями оценки на этом этапе служили качество, скорость, рациональность и безопасность выполнения работ, эстетичность и работоспособность схемы, правильность использования инструмента, культура производства.
    .history-years   
        