.history
    .history-content 
        .history-decription Компания «УДС нефть» специализируется на разработке нефтяных месторождений и добыче нефти на территории Удмуртской Республики, Пермского края, Республики Башкортостан, Иркутской области.
        p Под ним начинает работать ООО «Кунгурская нефтяная компания». В первый год добыча составила 12 584 тонны.    
        p В «УДС нефть» прошел пятый в этом году конкурс профессионального мастерства. Он объединил лучших специалистов по ремонту и обслуживанию электрооборудования на объектах добычи нефти и газа компании.
        p Программа мероприятия традиционно состояла из двух частей — теоретической и практической. Проверкой знаний для конкурсантов стало тестирование: за 45 минут им предстояло ответить на вопросы по основной деятельности, охране труда при работах на электроустановках. Все участники справились с первым испытанием досрочно, показали хороший уровень подготовки и достойные результаты. Наибольшее количество баллов по итогам теста набрал электромонтер Сергей Головков, бригада № 2 по ремонту и обслуживанию электрооборудования (Высоковское месторождение).
        p Успешное применение знаний на практике электромонтеры продемонстрировали в практической части конкурса. В качестве задания им предстояло выполнить монтаж, наладку и пуск электродвигателя согласно предложенной схеме. Критериями оценки на этом этапе служили качество, скорость, рациональность и безопасность выполнения работ, эстетичность и работоспособность схемы, правильность использования инструмента, культура производства.
    .history-years 
        .years-toggler
            a.years-toggle 2013
            a.years-toggle 2014
            a.years-toggle 2015
            a.years-toggle 2016
            a.years-toggle 2017
            a.years-toggle 2018
            a.years-toggle 2019
        .years-items    
            .years-item
                .years-title 2013
                .years-pic
                    img.years-img(src="assets/2019.jpg", alt="") 
                .years-text Штат сотрудников компании составляет 600 человек
            .years-item 
                .years-title 2014
                .years-pic
                    img.years-img(src="assets/2018.jpg", alt="") 
                .years-text «УДС нефть» добыла 2-миллионную тонну нефти
            .years-item(data-hash="2017") 
                .years-title 2015
                .years-pic
                    img.years-img(src="assets/2017.jpg", alt="") 
                .years-text На Азинском месторождении заработала новая химико-аналитическая лаборатория
            .years-item
                .years-title 2016
                .years-pic
                    img.years-img(src="assets/2016.jpg", alt="") 
                .years-text Объем годовой добычи нефти превысил 500 000 тон
            .years-item
                .years-title 2017
                .years-pic
                    img.years-img(src="assets/2015.jpg", alt="") 
                .years-text Год основания компании «УДС нефть»
            .years-item 
                .years-title 2018
                .years-pic
                    img.years-img(src="assets/2014.jpg", alt="") 
                .years-text Компания реализует социальные инициативы, направленные на развитие подрастающего поколения
            .years-item 
                .years-title 2019
                .years-pic
                    img.years-img(src="assets/2013.jpg", alt="") 
                .years-text Год основания компании «УДС нефть»



        