.header-widget{
    background: #fff;
    height: 32px;
    width: 100%;
    box-sizing: border-box;  
    position: relative;  
    font-family: $roboto;
    font-size: 9.5px;
    line-height: 1;
    color: #282828;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);
    @media(min-width: $tablet){
        margin: 0 72px;
        width: calc(100% - 144px);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);
    }
    @media(min-width: $notebook){
        width: 180px;
        margin: 0;
        height: auto;        
        box-shadow: none;
        padding-left: 20px;
        &:before{
           content: '';
           display: block;
           position: absolute;
           top: 0;
           bottom: 0;
           left: 0;          
           width: 1px;
           background: #E6E7E8;
        }
    }
    @media(min-width: $desktop){
        width: 350px;   
        padding-left: 25px;     
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: 0;          
            width: 1px;
            background: #E6E7E8;
         }
    }
}
.widget{   
    &-left{
        height: 100%;
        width: 100px;
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        z-index:100;
        @media(min-width: $notebook){
            position: static;
            width: 100%;
        }       
    }
    &-date{   
        font-weight: 600;
        font-size: 9.5px;
        line-height: 16px;
        color: #9A9A9A;
        box-sizing: border-box;
        padding: 8px;
        flex-shrink: 0;
        flex-grow: 1;
        font-family: $font;
        @media(min-width: $notebook){
            position: static;
            width: 100%;
            padding-left: 0;
            padding-top: 0;
        }  
        @media(min-width: $desktop){
            font-size: 14px;
        }
    }
    &-line{       
        overflow-x: hidden;        
        flex-shrink: 1;
        flex-grow: 0;
        margin-left: 100px;
        align-content: center;
        height: 100%;
        box-sizing: border-box;  
        @media(min-width: $notebook){
            margin-left: 0;
            overflow: hidden;
        }     
    }
    &-items{
        display: flex;
        align-content: center;
        height: 100%;             
        &:hover {
            animation-play-state: paused
        }             
    }
    &-item{
        display: flex;
        margin: 0 10px;
        align-items: center;
        box-sizing: border-box;
        @media(min-width: $notebook){
            align-items: baseline;
        }
        @media(min-width: $desktop){
            margin: 0 12px;
        }
    }
    &-name{
        font-family: $font;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.5;
        letter-spacing: 0.15px;
        margin-right: 3px;
        letter-spacing: 0.15px;
        @media(min-width: $desktop){
            font-size: 16px;
            font-weight: 600;
            margin-right: 8px;
            font-size: 16px;
            line-height: 24px;
        }
    }
    &-cost{
        @media(min-width: $desktop){
            font-size: 14px;
            
        } 
    }
    &-progress{
        display: flex;
        margin-left: 14px;
        position: relative;
        @media(min-width: $tablet){
            margin-left: 25px;
        }
        @media(min-width: $notebook){
           margin-left: 15px;
        }  
        @media(min-width: $desktop){
            margin-left: 20px;
        }   
        &:before{
            content: '';
            display: block;
            position: absolute; 
            width: 8px;
            height: 6px;             
            left: -10px;
            bottom: 5px;
            @media(min-width: $tablet){
                left: -25px;
            }
            @media(min-width: $notebook){
                left: -10px;                
            }  
            @media(min-width: $desktop){
                bottom: 7px;  
                left: -14px;             
            }       
        }
        &-item{
            padding: 3px;    
            box-sizing: border-box;
            margin: 0 1px;
            line-height: 1;
            display: flex;
            align-items: baseline;                     
            @media(min-width: $desktop){
                font-size: 14px; 
                padding: 4px;  
                padding-bottom: 3px;             
            }         
        }
        &__green{           
            &:before{   
                background-repeat: no-repeat;           
                background-image: url(../images/svg/arrow_green.svg);
                background-position: bottom;
                width: 8px;
                height: 6px;
                background-size: cover;
                @media(min-width: $desktop){
                    width: 9px;
                    height: 7px;             
                } 
            }
            .widget-progress-item{
                background: #8AF3B7;
            }
        }
        &__red{
            &:before{ 
                background-repeat: no-repeat;             
                background-image: url(../images/svg/arrow_red.svg);
                background-position: bottom;
                width: 8px;
                height: 6px;
                background-size: cover;
                @media(min-width: $desktop){
                    width: 9px;
                    height: 7px;             
                } 
            }
            .widget-progress-item{
                background: #FFC4C4; 
            }
        }
    }
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-350%, 0); }    
}
