.header-widget
    .widget-left
        .widget-date 24 декабря 2018
    .widget-line  
        .widget-items  
            .widget-item 
                .widget-name Brent
                .widget-cost 50.434
                .widget-progress.widget-progress__green
                    .widget-progress-item +6.170 
                    .widget-progress-item +0.09%
            .widget-item 
                .widget-name USD
                .widget-cost 68.01
                .widget-progress.widget-progress__red
                    .widget-progress-item -2.170  
                    .widget-progress-item +0.00%
            .widget-item 
                .widget-name EUR
                .widget-cost 68.01
                .widget-progress.widget-progress__green
                    .widget-progress-item -2.170  
                    .widget-progress-item +0.00%