section.team#team
    .team-head
        h2.team-title(data-aos="fade-left" data-aos-duration="1000")  Команда
    .team-flex
        .team-content
            p Сильная команда – наш главный ресурс и наша гордость. Сегодня на объектах «УДС нефть» трудятся 600 человек. Это опытные специалисты с многолетним стажем в нефтяной отрасли и молодые амбициозные сотрудники. 
            p Нас объединяет высокая мотивация, стремление к личностному росту и развитию компании. Мы успешно решаем задачи и реализуем проекты любой сложности. 
            p В компании действуют корпоративные программы «Система идей» и рационализаторских предложений. Мы поощряем инициативы сотрудников по повышению эффективности работы и организации труда.
        .team-right
            .team-video
                .team-video-button 
                    svg.team-svg(role="img")(width="24")(height="24"): use(xlink:href="#button")
                    span Смотреть видео
                .team-youtube(style="background-image:url(../images/videobg.jpg)")(data-iframe='<iframe class="team-youtube" src="https://www.youtube.com/embed/OiMdznIjXnw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>')
