.team
    h2.team-title  Команда
    .team-contnt
        p Сильная команда – наш главный ресурс и наша гордость. Сегодня на объектах «УДС нефть» трудятся 600 человек. Это опытные специалисты с многолетним стажем в нефтяной отрасли и молодые амбициозные сотрудники. 
        p Нас объединяет высокая мотивация, стремление к личностному росту и развитию компании. Мы успешно решаем задачи и реализуем проекты любой сложности. 
        p В компании действуют корпоративные программы «Система идей» и рационализаторских предложений. Мы поощряем инициативы сотрудников по повышению эффективности работы и организации труда.
    .team-videowrap
        .team-video
