.gallery
    .container
        .gallery-content
            .gallery-flex
                .gallery-item(data-aos="fade-right" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery1.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Шляпников Юрий Викторович
                            .gallery-description Генеральный директор, к.т.н.
                .gallery-item(data-aos="fade-left" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery2.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Перминов Александр Михайлович
                            .gallery-description Заместитель генерального директора - главный инженер
                .gallery-item(data-aos="fade-right" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery3.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Михащук Иван Викторович
                            .gallery-description Заместитель генерального директора по бурению
                .gallery-item(data-aos="fade-left" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery4.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Звонарёв Алексей Николаевич 
                            .gallery-description Главный геолог
                .gallery-item(data-aos="fade-right" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery5.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Баранов Константин Сергеевич
                            .gallery-description Заместитель генерального директора по развитию
                .gallery-item(data-aos="fade-left" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery6.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Бекмансуров Ильдар Ирекович
                            .gallery-description Заместитель генерального директора по капитальному строительству
                .gallery-item(data-aos="fade-right" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery7.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Гавриков Андрей Леонидович
                            .gallery-description Заместитель генерального директора по стратегическому развитию и планированию
                .gallery-item(data-aos="fade-left" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery8.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Камалетдинов Амир Мансурович
                            .gallery-description Заместитель генерального директора - начальник юридической службы
                .gallery-item(data-aos="fade-right" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery9.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Борисова Людмила Васильевна
                            .gallery-description Заместитель генерального директора по управлению имуществом
                .gallery-item(data-aos="fade-left" data-aos-duration="3000")
                    figure.gallery-figure
                        .gallery-pick
                            img(src="../assets/gallery10.jpg").gallery-photo
                        .gallery-figcaption
                            .gallery-title Мамонтов Павел Петрович
                            .gallery-description Заместитель генерального директора по материально-техническому обеспечению и общим вопросам