.pagination
    a(href="#").pagination-link.pagination-link__left(data-aos="fade-right" data-aos-duration="3000")
        span.pagination-text Предыдущая статья
        span.pagination-arrow.pagination-arrow__left 
            svg.pagination-svg(role="img")(width="11")(height="14"): use(xlink:href="#more")
    a(href="#").pagination-link.pagination-link__right(data-aos="fade-left" data-aos-duration="3000")
        span.pagination-arrow.pagination-arrow__right 
            svg.pagination-svg(role="img")(width="11")(height="14"): use(xlink:href="#more")
        span.pagination-text Следующая статья
        