.topslider{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    &-item{
        width: 100%;
        height: 550px;
        box-sizing: border-box;
        background-size: cover;
        background-position: 32% top;
        background-repeat: no-repeat;
        padding: 130px 31px 103px 32px;
        position: relative;
        @media(min-width: $tablet){
            padding: 158px 72px 225px 72px;
            height: 640px;
        }
        &:before{
            content: '';
            background: rgba(40, 40, 40, 0.50);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;            
        }
    }
    &-container{
        position: relative;
        z-index: 1;
        &:before{
            content: '';
            display: block;
            height: 4px;
            background: #FCCA00;
            position: absolute;
            left: -31px;
            width: 20px;
            top: 12px;
            @media(min-width: $tablet){
                width: 48px;
                left: -72px;
            }
        }
    }
    &-title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #fff;
        @media(min-width: $tablet){
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }
    }
    &-text{
        font-weight: 300;
        color: #fff;
        margin: 16px 0;
        @media(min-width: $tablet){
            max-width: 500px;
        }
    }
    &-icon{
        position: absolute;
        left: 30px;
        bottom: 40px;
        @media(min-width: $tablet){
            left: 72px;
            bottom: 48px;
        }
    }
    &-arrows{
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
        margin: 0 -8px;
        width: calc(100% - 30px); 
        @media(min-width: $tablet){
            bottom: 48px;
            right: 72px;
        }        
        .owl-prev, .owl-next{
            width: 48px;
            height: 48px;
            background: #FFCC08;
            margin: 0 4px;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            padding-top: 15px;
            @media(min-width: $tablet){
                width: 64px;
                height: 64px;
                padding-top: 23px;
            }   
            cursor: pointer; 
            span{
                font-size: 0;
                display: inline-block;                
                width: 9px;
                height: 9px;                            
            }
        }
        .owl-prev span{
            transform: rotate(-40deg);
            border-top: 3px #282828 solid;
            border-left:  3px #282828 solid;    
        }
        .owl-next span{
            transform: rotate(40deg);
            border-top: 3px #282828 solid;
            border-right:  3px #282828 solid;    
        }
    }
}