.topslider{ 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: -1;
    &-item{
        width: 100%;
        height: 550px;               
        padding: 130px 31px 103px 32px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;
        @media(min-width: $tablet){
            padding: 158px 72px 225px 72px;
            height: 640px;
        }
        @media(min-width: $notebook){
            height: 659px;
            padding: 214px 0 225px 0;  
        } 
        @media(min-width: $desktop){
            height: 944px;
            padding: 299px 0 214px 0; 
        }       
    }
    &-background{
        width: 100%;
        height: 550px;
        box-sizing: border-box;
        background-size: cover;
        background-position: 32% top;
        background-repeat: no-repeat;
        filter: grayscale(100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; 
        @media(min-width: $tablet){
            height: 640px;                
        }
        @media(min-width: $notebook){
            height: 659px;  
        }
        @media(min-width: $desktop){
            height: 944px;
        }                
        &:before{
            content: '';
            background: rgba(40, 40, 40, 0.50);            
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;      
            z-index: 100;      
        }
        &-video{
            display: none;            
            @media(min-width: $notebook){
                display: block;   
                width: 100%;             
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;           
                height: 659px;  
            }
            @media(min-width: $desktop){
                height: 944px;
            }            
        }
    }
    &-container{
        position: relative;
        z-index: 1;        
        @media(min-width: $tablet){
            padding-right: 118px;
        } 
        @media(min-width: $notebook){
           margin: 0 auto;
           width: 100%;
           padding: 0;
           max-width: 1040px;
        } 
        @media(min-width: $desktop){
            max-width: 1504px;
        } 
        &:before{
            content: '';
            display: block;
            height: 4px;
            background: #FCCA00;
            position: absolute;
            left: -31px;
            width: 20px;
            top: 12px;
            @media(min-width: $tablet){
                width: 48px;
                left: -72px;
            }
            @media(min-width: $notebook){
                width: 88px;
                left: -110px;
                transform: translate(-100px, 0);
                animation-name: movetranslate; 
                animation-duration: 3s;
                animation-delay: .3s; 
                animation-fill-mode: forwards;         
            }
            @media(min-width: $desktop){
                width: 157px;
                height: 8px;
                left: -200px;
                top: 14px;
            }
        }
    }
    &-title{
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #fff;
        @media(min-width: $tablet){
            font-weight: 600;
            font-size: 36px;
            line-height: 40px;
        }
        @media(min-width: $notebook){
            text-indent: 200px;
            transform: translate(-120px, 0);
            animation-name: movetranslate; 
            animation-duration: 3s;
            animation-delay: .3s; 
            animation-fill-mode: forwards;                  
        }
        @media(min-width: $desktop){
            font-size: 56px;
            line-height: 64px;
            width: 992px;
        }
    }
    &-text{
        font-weight: 300;
        color: #fff;
        margin: 16px 0;
        @media(min-width: $tablet){
            max-width: 500px;
        }
        @media(min-width: $desktop){
            max-width: 738px;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            letter-spacing: 0.15px;
        }
    }
    &-icon{        
        position: absolute;
        display: block;
        left: 32px;
        top: 469px;
        z-index: 100;          
        box-sizing: border-box;      
        svg{
            color:#FFCC08;
            fill:#FFCC08;
            @media(min-width: $tablet){
                display: none;
            }
        }
        img{
            display: none;
            @media(min-width: $tablet){
                display: block;
                position: relative;
                z-index: 90;
            }
            @media(min-width: $desktop){
                width: 64px;
                height: 64px; 
            } 
        }
        @media(min-width: $tablet){
            left: 72px;
            top: 530px;
            width: 40px;
            height: 40px;
        }
        @media(min-width: $notebook){
            left: 0;
            top: 470px;
            margin: 0 auto;                     
        }  
        @media(min-width: $desktop){
            left: 0;
            top: 600px;
            left: calc(50% - 63px);
            width: 64px;
            height: 64px;              
        }        
    }
    &-arrows{
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
        margin: 0 -8px;        
        @media(min-width: $tablet){
            bottom: 48px;
            right: 72px;
        }    
        @media(min-width: $notebook){
            top: 468px;
            right: 0;
            transform: translate(0, 50px);
            animation-name: movetranslate; 
            animation-duration: 3s;
            animation-delay: .3s; 
            animation-fill-mode: forwards;
        } 
        @media(min-width: $desktop){
            top: 600px;
        }   
        .owl-prev, .owl-next{
            width: 48px;
            height: 48px;
            background: #FFCC08;
            margin: 0 4px;
            box-sizing: border-box;
            display: inline-block;
            text-align: center;
            padding-top: 15px;
            cursor: pointer; 
            @media(min-width: $tablet){
                width: 64px;
                height: 64px;
                padding-top: 23px;
            }
            @media(min-width: $desktop){
                width: 96px;
                height: 96px;
                padding-top: 37px;
            }
            span{
                font-size: 0;
                display: inline-block;                
                width: 9px;
                height: 9px;   
                @media(min-width: $desktop){
                    width: 15px;
                    height: 15px;
                }                         
            }
        }
        .owl-prev span{
            transform: rotate(-40deg);
            border-top: 3px #282828 solid;
            border-left:  3px #282828 solid;    
        }
        .owl-next span{
            transform: rotate(40deg);
            border-top: 3px #282828 solid;
            border-right:  3px #282828 solid;    
        }
    }
    &-nav{
        @media(min-width: $notebook){
            position: relative;
            margin: 0 auto;
            width: 100%;
            max-width: 1040px;
        }
        @media(min-width: $desktop){
            max-width: 1504px;
        } 
    }
}
video.topslider-background{
    height: auto;
}


