.topslider.owl-theme.owl-carousel
    .topslider-item
        .topslider-container
            h2.topslider-title «УДС нефть» занимается разработкой и эксплуатацией нефтяных и газовых месторождений 
            p.topslider-text Компания добывает, готовит, транспортирует, хранит и сдает нефть в систему магистральных нефтепроводов ПАО «Транснефть»
        .topslider-icon
            svg.icon-svg(role="img")(width="40")(height="40"): use(xlink:href="#pump") 
        .topslider-background   
            video(autoplay muted).topslider-background    
                source(src="../video/video_women.mp4" type='video/mp4')
    .topslider-item
        .topslider-container
            h2.topslider-title «УДС нефть» занимается разработкой и эксплуатацией нефтяных и газовых месторождений 
            p.topslider-text Компания добывает, готовит, транспортирует, хранит и сдает нефть в систему магистральных нефтепроводов ПАО «Транснефть»
        .topslider-icon
            svg.icon-svg(role="img")(width="40")(height="40"): use(xlink:href="#pump")
        .topslider-background
            video(autoplay muted).topslider-background
                source(src="../video/video_up.mp4" type='video/mp4')    
.topslider-nav
    .topslider-arrows