.topslider.owl-theme.owl-carousel
    .topslider-item
        .topslider-container
            h2.topslider-title «УДС нефть» занимается разработкой и эксплуатацией нефтяных и газовых месторождений 
            p.topslider-text Компания добывает, готовит, транспортирует, хранит и сдает нефть в систему магистральных нефтепроводов ПАО «Транснефть»
        .topslider-icon
            svg.icon-svg(role="img")(width="40")(height="40"): use(xlink:href="#pump") 
        .topslider-background(style="background-image: url(../images/uds-mainslider1.jpg)")    
    .topslider-item
        .topslider-container
            h2.topslider-title «УДС нефть» занимается разработкой и эксплуатацией нефтяных и газовых месторождений 
            p.topslider-text Компания добывает, готовит, транспортирует, хранит и сдает нефть в систему магистральных нефтепроводов ПАО «Транснефть»
        .topslider-icon
            svg.icon-svg(role="img")(width="40")(height="40"): use(xlink:href="#pump")
        .topslider-background(style="background-image: url(../images/uds-mainslider2.jpg)")    
.topslider-nav
    .topslider-arrows