.geography{
    padding-top: 148%;
    height: 0;
    position: relative;
    @media(min-width: $tablet){
        padding-top: 83%;
    }
    @media(min-width: $notebook){
        padding-top: 46%;
    }
    @media(min-width: $desktop){
        padding-top: 44%
    }
    &-map{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &-title{
       color: #000; 
       position: absolute;
       z-index: 999;
       top: 47px;
       left: 32px;
       font-weight: 600;
       font-size: 24px;
       @media(min-width: $tablet){
            font-size: 34px;
            line-height: 40px;        
            letter-spacing: 0.25px;
            color: #282828;
        }  
        @media(min-width: $notebook){
            font-size: 48px;
            line-height: 64px;
        } 
        @media(min-width: $desktop){
            font-size: 72px;
            line-height: 90px;
        } 
    }
}