.geography{
    padding-top: 148%;
    height: 0;
    position: relative;
    @media(min-width: $tablet){
        padding-top: 83%;
    }
    &-map{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &-title{
       color: #000; 
       position: absolute;
       z-index: 999;
       top: 47px;
       left: 32px;
       font-weight: 600;
       font-size: 24px;
       @media(min-width: $tablet){
            font-size: 34px;
            line-height: 40px;        
            letter-spacing: 0.25px;
            color: #282828;
        }   
    }
}