.geography{ 
    @media(min-width: $desktop){
        margin-top: 137px;   
    }    
    &-map{
        height: 472px;
        width: 100%;
        position: relative;
        @media(min-width: $tablet){
            height: 640px;
        }
        @media(min-width: $notebook){
            height: 584px;
            margin-top: 110px;
        }
        @media(min-width: $desktop){
            height: 856px;
        }
    }    
    &-title{
        position: relative;
        margin: 0 32px;
        @media(min-width: $tablet){
            margin: 0 70px;
        }
        @media(min-width: $notebook){
            margin: 0 auto;
            max-width: 1041px
        } 
        @media(min-width: $desktop){
            max-width: 1504px
        } 
        h2{
            color: #000;       
            z-index: 999;       
            font-weight: 600;
            font-size: 24px;
            position: absolute;
            left:0;
            top: 43px;
            @media(min-width: $tablet){
                font-size: 34px;
                line-height: 40px;        
                letter-spacing: 0.25px;
                color: #282828;
                top: 35px;
            }  
            @media(min-width: $notebook){
                font-size: 48px;
                line-height: 64px;
                top: 49px;
                letter-spacing: normal;
            } 
            @media(min-width: $desktop){
                font-size: 72px;
                line-height: 90px;
                top: 77px;
            } 
        }
    }
}