.screen-dotes
    img.screen-dotes-icon(src="../images/svg/pump_move_black.svg" width="32" height="32")
    ul.screen-dotes-container
        li.screen-dotes-li
            a.screen-dotes-link(href="#news") Новости
        li.screen-dotes-li
            a.screen-dotes-link(href="#quote") Генеральный директор
        li.screen-dotes-li
            a.screen-dotes-link(href="#geography") География
        li.screen-dotes-li
            a.screen-dotes-link(href="#development") Развитие
        li.screen-dotes-li
            a.screen-dotes-link(href="#team") Команда
        li.screen-dotes-li
            a.screen-dotes-link(href="#career") Карьера