.screen-dotes{
    display: none;
    &.showed{     
        @media(min-width:$tablet){   
            display: block;
            position: fixed;
            right: 0;
            top: 50vh;
        }
        @media(min-width:1200px){ 
            right: 50px;          
        }
        @media(min-width:1900px){
            right: 100px;  
        }  
    }
    &-icon{
        @media(min-width:$desktop){
            width: 64px;
            height: 64px;
        }       
    }
    &-li{
        margin: 24px 15px;
        list-style: none;
        @media(min-width:$desktop){
            margin: 28px 30px;
        }        
    }
    &-link{
        font-size:0;
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        @media(min-width:$desktop){
            width: 30px;
            height: 30px;
        }
        &:before{
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background: #E0E0E0; 
            @media(min-width:$desktop){ 
                width: 6px;
                height: 6px;
            }          
        }
        &.active{
            &:before{
                background: transparent;  
            }
            &:after{
                content: '';
                display: block;
                width: 8px;
                height: 8px; 
                border: 2px solid #000000;
                border-radius: 100%;                
                position: absolute;
                top: -4px;
                left: -4px;
                @media(min-width:$desktop){
                    width: 16px;
                    height: 16px; 
                }
            }
        }
    }   
}