.bigmenu{
    display: none;
    @media(min-width: $notebook){
        display: block;
        margin: 0 15px;
        box-sizing: border-box;
        padding: 8px 0;  
        flex-grow: 1;
        flex-shrink: 0;              
    } 
    @media(min-width:$desktop){
        margin: 0 50px;        
    } 
    &.open{
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 90px;
            background: #fff;
            left: 0;
            bottom: -95px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);
        }
    }  
    &-ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.open{
            &:after{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                display: block;
                background: #fff;
                height: 96px;
            }
            .bigmenu-li > .bigmenu-link{
                opacity: .5;
            }
            .bigmenu-li__sub span{
                opacity: .5;
            }
            .bigmenu-li__sub.open span{
                opacity: 1;
            }
        }
    }
    &-li{
        margin: 0 10px;
        list-style: none;
        position: relative;
        cursor: pointer; 
        @media(min-width:$desktop){
            margin: 0;                    
        }       
        &__sub{
            padding-right: 10px;            
            &:before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                width: 100%;
                top: 45px;
                display: block;
                background: transparent;
                height: 4px;
                opacity: background .3s;
                @media(min-width:$desktop){
                    top: 60px;                    
                }
            }
            &:after{
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                border-bottom: 1px solid #FFCC08;
                border-right: 1px solid #FFCC08;
                position: absolute;
                right: -3px;
                top: 8px;
                transform: rotate(45deg);
                transition: transform .3s;
                @media(min-width:$desktop){
                    width: 6px;
                    height: 6px;
                    border-bottom: 2px solid #FFCC08;
                    border-right: 2px solid #FFCC08;
                    top: 6px;
                    right: -5px;                   
                }
            }
            &:hover{
                &:before{
                    background: #FFCC08;
                }
            }
            span{
                font-weight: 600;
                font-size: 12px;
                line-height: 24px;
                letter-spacing: 0.15px;
                transition: opacity .3s;
                @media(min-width:$desktop){
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            &.open{
                &:after{
                    transform: rotate(-135deg) translate(-5px);                    
                }
                &:before{
                    background: #FFCC08;
                }
                .bigmenu-sub-ul{
                    display: flex;
                    position: absolute;
                    top: 80px;
                    z-index: 500; 
                    margin: 0 -20px;  
                    @media(min-width:$desktop){
                        top: 94px;
                    }                 
                }
                .bigmenu-sub-li{
                    list-style: none;
                    margin: 0 20px;
                    display: block;
                    .bigmenu-link{
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 24px;
                        display: block;
                        transition: color .3s;
                        &:hover, &:focus{
                            color: #FFCC08;
                        }
                        @media(min-width:$desktop){
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                }                
            }
        }
    }
    &-sub{
        &-ul{
            display: none;
        }
    }
    &-link{
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #282828;
        text-decoration: none;
        display: block;
        transition: opacity .3s color .3s;
        &:hover, &:focus{
            color: #FFCC08;
        }
        @media(min-width:$desktop){
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
        }
    }
}