.bigmenu
    ul.bigmenu-ul
        li.bigmenu-li.bigmenu-li__sub
            span О компании
            ul.bigmenu-sub-ul
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link О&nbsp;нас
                li.bigmenu-sub-li
                    a(href="team.html").bigmenu-link Команда
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Производство
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Карьера
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Статистика
        li.bigmenu-li.bigmenu-li__sub
            span Деятельность
            ul.bigmenu-sub-ul
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link О&nbsp;нас
                li.bigmenu-sub-li
                    a(href="team.html").bigmenu-link Команда
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Производство
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Карьера
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link Статистика
        li.bigmenu-li
            a(href="#").bigmenu-link Новости
        li.bigmenu-li
            a(href="tenders.html").bigmenu-link Тендеры
        li.bigmenu-li.bigmenu-li__sub
            span Реализация нефти
            ul.bigmenu-sub-ul
                li.bigmenu-sub-li
                    a(href="#").bigmenu-link О&nbsp;нас
                li.bigmenu-sub-li
                    a(href="team.html").bigmenu-link Команда                
        li.bigmenu-li
            a(href="#").bigmenu-link Контакты