.security{
    margin: 30px 0 65px 0;
    @media(min-width: $tablet){
        margin: 54px 0;    
    }
    @media(min-width: $notebook){
        width: 66%;
        margin: 54px auto; 
        margin-bottom: 96px; 
    }
    @media(min-width: $desktop){
        margin: 74px auto;
        margin-bottom: 111px;
    }
    &-content{
        margin: 30px 0;
        @media(min-width: $tablet){
            margin: 47px 0;    
        }
        @media(min-width: $desktop){
            margin: 74px 0;    
        }
        p{
            margin: 15px 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            @media(min-width: $tablet){
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;   
            } 
            @media(min-width: $notebook){
                letter-spacing: 0.15px;
            }
         
        }        
    }
    &-documents{   
        @media(min-width: $notebook){
            letter-spacing: 0.15px;
        }         
        &-item{
            margin: 0 -32px; 
            padding: 21px 32px;
            border-bottom: 1px solid #F0F1F2;  
            transition: .3s background;            
            @media(min-width: $tablet){  
                margin: 0;
            }
            @media(min-width: $desktop){  
                margin: 17px 0;
                border-bottom: none; 
                padding: 21px 32px 0 32px;
            }
            &:hover{
                background: #FAFBFC; 
            }
            .security-documents-list{
                display: none;
                border-top: 1px solid #F0F1F2; 
                margin: 0 -32px;
                margin-top: 20px;
                padding: 0 32px;   
                @media(min-width: $tablet){                         
                    padding: 0;
                } 
                @media(min-width: $desktop){
                    display: block;
                }
            }
            &.active{
                background: #FAFBFC; 
                padding-bottom:0;
                border-bottom: none; 
                @media(min-width: $desktop){
                    background: #fff;                        
                }                           
                .security-documents-list{
                    display: block;  
                    @media(min-width: $desktop){
                        background: #fff;                        
                    } 
                }                 
                .security-documents-title{
                    &:before{
                        transform: rotate(95deg);
                        @media(min-width: $desktop){
                            transform: rotate(0);
                        }  
                    } 
                }
            }
        } 
        &-title{
            font-weight: 600;
            font-size: 14px;
            line-height: 20px; 
            padding-left: 40px;
            position: relative;
            cursor: pointer;
            @media(min-width: $tablet){
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;  
                letter-spacing: 0.15px;
            }
            @media(min-width: $desktop){
                font-size: 24px;
                line-height: 32px;
                padding: 20px 0;
                padding-left: 68px;
                cursor: auto;
            }
            &:before{
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                top: calc(50% - 12px);                
                border-radius: 100%;
                background: url(../images/svg/spoiler.svg);
                transition: transform .3s;
                @media(min-width: $tablet){
                    top: 5px;   
                    left: -18px;
                }
                @media(min-width: $desktop){
                    background: url(../images/svg/ico.svg);
                    width: 48px;
                    height: 48px;
                    left: 0;
                    top: calc(50% - 24px);
                }
            }
        } 
        &-list{
            counter-reset: myCounter;
            @media(min-width: $desktop){
                margin: 68px 0;
            }
        }        
        &-li{
            list-style: none;
            padding-top: 8px;
            padding-bottom: 15px;
            border-top: 1px solid #F0F1F2;
            &:first-of-type{
                border-top: 0;
            }
            @media(min-width: $tablet){ 
                display: flex;
                padding: 0;
                align-items: baseline;                
            }           
            &:before{
                @media(min-width: $tablet){   
                    counter-increment: myCounter;
                    content:counter(myCounter);
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 24px;            
                    color:  #7C7C7C;  
                    display: block;                    
                    box-sizing: border-box; 
                    width: 56px;     
                    text-align: center;                                              
                } 
                @media(min-width: $desktop){
                    font-size: 16px;
                    line-height: 24px;   
                    letter-spacing: 0.15px;              
                }           
            }            
        }
        &-wrap{
            @media(min-width: $tablet){
                padding-top: 8px;
                padding-bottom: 15px;
                padding-left: 15px;
                border-left: 1px solid #F0F1F2; 
                width: calc(100% - 56px);
                box-sizing: border-box;
            }
            @media(min-width: $desktop){
                padding-top: 18px;   
                padding-bottom: 18px;           
            }
        }
        &-link{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            text-decoration: none;
            color: #282828;
            position: relative;            
            padding-bottom: 8px;
            &:after{
                content: '';
                display: block;
                position: absolute;
                background: #FFCC08;
                width: 30%;
                height: 2px;
                left: 0;
                bottom: 0;
                transition: width .3s;
            }
            &:hover{
                &:after{
                    width: 0;  
                }
            }
            @media(min-width: $tablet){
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;   
            }
            @media(min-width: $desktop){
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
            }
        }
    }
}