.container  
    .security
        .security-content(data-aos="fade-up" data-aos-duration="1000")
            p Создание безопасных условий труда, сохранение жизни и здоровья работников, обеспечение надежного функционирования опасных производственных объектов компании, безопасность населения, проживающего в регионах ее деятельности, защита окружающей среды и общества от рисков в области промышленной безопасности, являются приоритетом для ООО «УДС нефть» при осуществлении производственной деятельности.
            p В данном разделе представлены документы компании в области производственной безопасности.
        .security-documents  
            .security-documents-item 
                .security-documents-title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300") Сводные данные о результатах специальной оценки рабочих мест. Мероприятия по улучшению условий и охраны труда работников 
                ol.security-documents-list 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1800")
                        a(href="#" download).security-documents-link Название документа 
            .security-documents-item
                .security-documents-title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")  Заявления о соблюдении международного стандарта охраны здоровья и обеспечения безопасности труда ИСО 45001. Сертификат по ИСО 45001
                ol.security-documents-list 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1800")
                        a(href="#" download).security-documents-link Название документа 
            .security-documents-item
                .security-documents-title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300") Политика и Заявления генерального директора
                ol.security-documents-list 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1800")
                        a(href="#" download).security-documents-link Название документа 
            .security-documents-item
                .security-documents-title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300") Информация подрядным организациям и контрагентам 
                ol.security-documents-list 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="900")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1500")
                        a(href="#" download).security-documents-link Название документа 
                    li.security-documents-li(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1800")
                        a(href="#" download).security-documents-link Название документа 