.more{
    &-link{
        height: 64px;
        display: inline-block;   
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding-top: 20px;
        color: #282828;
        text-decoration: none;
        &__grey{
            background: #F0F1F2;
        }
        &:hover{
            .more-arrow:before{
                width: 29px;
            }
            .more-svg{
                right: -5px;
            }
        }
    }
    &-text{
        font-weight: 500;
    }
    &-arrow{
        margin-left: 8px;
        width: 32px;
        display: inline-block;
        position: relative;
        &:before{
            content: '';
            width: 24px;
            height: 2px;
            background: #282828;
            display: inline-block;
            position: absolute;
            left:0;
            bottom: 3px;
            transition: width .3s;
        }
    }
    &-svg{
        position: absolute;
        right:0;
        bottom: -2px;
        transition: right .3s;
    }
}
   