.more{
    &-link{
        height: 64px;
        display: inline-block;   
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding-top: 20px;
        color: #282828;
        text-decoration: none;
        &__grey{
            background: #F0F1F2;
        }
        &__yellow{
            background: #FFCC08;
        }
        &:hover{
            .more-arrow:before{
                width: 29px;
                @media(min-width: $desktop){
                    width: 36px;
                }
            }
            .more-svg{
                right: -5px;
            }
        }
        @media(min-width: $desktop){
            height: 88px;
            padding-top: 32px;
            font-size: 20px;
            line-height: 32px;
            font-weight: 500;
        }
    }
    &-text{
        font-weight: 500;
    }
    &-arrow{
        margin-left: 8px;
        width: 32px;
        display: inline-block;
        position: relative;
        @media(min-width: $desktop){
            width: 41px;
        }
        &:before{
            content: '';
            width: 24px;
            height: 2px;
            background: #282828;
            display: inline-block;
            position: absolute;
            left:0;
            bottom: 3px;
            transition: width .3s;
            @media(min-width: $desktop){
                width: 31px;
            }
        }
    }
    &-svg{
        position: absolute;
        right:0;
        bottom: -2px;
        transition: right .3s;
        @media(min-width: $desktop){
            width: 11px;
            height: 14px;
            bottom: -3px;
        }
    }
}
.main-articles {
    .more-link{
        @media(min-width: $tablet){
            margin: 0 72px;
            width: calc(100% - 144px);
        }
        @media(min-width: $notebook){
            margin: 0 auto;
            width: 100%;
            position: relative;
            max-width: 1040px;
            display: block;
        }
        @media(min-width: $desktop){
            max-width: 1504px;
        } 
    }
}
