mixin moreLink(color, text)
    a(class="more-link more-link__"+color href="#")
        span.more-text= text
        span.more-arrow 
            svg.more-svg(role="img")(width="8")(height="12"): use(xlink:href="#more")