include ../../components/moreLink/moreLink
section.career#career
    .container
        h2.career-title(data-aos="fade-left" data-aos-duration="3000") Карьера
        .career-content
            p В «УДС нефть» мы ищем надежных и ответственных специалистов, нацеленных на результат, и рады новым талантам. 
            .career-flex
                figure.career-figure
                    img.career-img(src="../assets/hr.png")
                    figcaption.career-figcaption
                        span Мария Ожегова
                        | заместитель исполнительного директора по персоналу
                .career-offer
                    p Мы предлагаем:
                    ul.checklist
                        li.checklist-li(data-aos="fade-up" data-aos-duration="3000") Работу в компании, входящей в топ-3 по добыче нефти и являющейся лидером по темпу роста добычи нефти в Удмуртии
                        li.checklist-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="300") Участие в амбициозных масштабных проектах
                        li.checklist-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="600") Справедливую оплату труда и систему мотивации
                        li.checklist-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="900") Профессиональное обучение, карьерный и личностный рост
                        li.checklist-li(data-aos="fade-up" data-aos-duration="3000" data-aos-delay="1200") Расширенный социальный пакет и комфортные условия труда
    +moreLink('yellow', 'Список всех вакансий')