include ../../components/moreLink/moreLink
section.career#career
    .container
        h2.career-title Карьера
        .career-content
            p В «УДС нефть» мы ищем надежных и ответственных специалистов, нацеленных на результат, и рады новым талантам. 
            .career-flex
                figure.career-figure
                    img.career-img(src="../assets/hr.jpg")
                    figcaption.career-figcaption
                        span Мария Ожегова
                        | заместитель исполнительного директора по персоналу
                .career-offer
                    p Мы предлагаем:
                    ul.checklist
                        li.checklist-li Работу в компании, входящей в топ-3 по добыче нефти и являющейся лидером по темпу роста добычи нефти в Удмуртии
                        li.checklist-li Участие в амбициозных масштабных проектах
                        li.checklist-li Справедливую оплату труда и систему мотивации
                        li.checklist-li Профессиональное обучение, карьерный и личностный рост
                        li.checklist-li Расширенный социальный пакет и комфортные условия труда
    +moreLink('yellow', 'Список всех вакансий')