include ../../components/moreLink/moreLink
.career
    h2.career-title Карьера
    .career-content
        p В «УДС нефть» мы ищем надежных и ответственных специалистов, нацеленных на результат, и рады новым талантам. 
        figure.career-figure
            img.career-img(src="../images/hr.jpg")
            figcaption.career-figcaption Мария Ожегова
                span заместитель исполнительного директора по персоналу
        .career-offer
            p Мы предлагаем:
            ul
                li Работу в компании, входящей в топ-3 по добыче нефти и являющейся лидером по темпу роста добычи нефти в Удмуртии
                li Участие в амбициозных масштабных проектах
                li Справедливую оплату труда и систему мотивации
                li Профессиональное обучение, карьерный и личностный рост
                li Расширенный социальный пакет и комфортные условия труда
+moreLink('grey', 'Список всех вакансий')