.articles{
    &-item{
        position: relative;
        margin: 27px auto;
        @media(min-width: $tablet){
            display: flex;
        }
    }
    &-preview{
        overflow: hidden;
        position: relative;
        height: 0;
        padding-top: 52%;
        width: 100%;
        box-sizing: border-box;
    }
    &-img{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &-notice{
        margin-top: 15px;
        margin-bottom: 10px;
        @media(min-width: $tablet){
            margin-top: -5px;
        }
        p{
            font-weight: 700;             
            line-height: 18px;
            font-size: 14px;
            margin: 10px 0;
        }        
    }
    &-date{
        color: #9A9A9A;
        font-size: 12px;  
        font-weight: 500;         
    }
    &-left{
        @media(min-width: $tablet){
            width: 224px;
            margin-right: 15px;
            flex-grow: 1;
            flex-shrink: 0;
        }
    }
}
