.hrform{
    background: #FAFBFC;
    padding: 32px 0;
    margin-top: 32px;
    position: relative;
    @media(min-width: $tablet){
        margin-top: 58px;
        padding: 57px 0;
    }
    @media(min-width:$notebook){
        padding-top: 73px;
    }
    @media(min-width:$desktop){
        padding-top: 94px;
        padding-bottom: 149px;
    }
    &:before{
       content: '';
       display: block;
       position: absolute;
       right:0;
       top:-8px;
       border-top: 8px solid  #FFCC08;
       border-right: 8px solid  #FFCC08;
       width: 40px;
       height: 40px;
       @media(min-width: $tablet){
           top: 42px;           
       }
    }
}
.hr{
    &-text{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #282828;
        @media(min-width: $tablet){
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            p{
               margin-bottom: 30px; 
            }
        }
        @media(min-width:$notebook){
            letter-spacing: 0.15px;
        }
    }
    &-pick{
        float: left;
        margin-right: 16px;
        max-width: 120px;
        width: 100%;
        border-radius: 100%;
        @media(min-width: $tablet){
            max-width: 224px;
            margin-right: 24px;
        }
    }
    &-contacts{
        margin: 24px 0;
        display: flex;
        align-items: center;
        @media(min-width:$notebook){
            margin-top: 50px;
        }
        @media(min-width:$desktop){
            margin-top: 89px;
        }
    }
    &-big{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #282828;
        @media(min-width: $tablet){
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
        }
    }
    &-gray{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px; 
        color: #4F4F4F;
        @media(min-width: $tablet){
            font-weight: 500;
            font-size: 16px;            
            letter-spacing: 0.15px;
            margin: 7px 0;
        }
    }
    &-phone{
        font-weight: 600;
        font-size: 14px;
        line-height: 24px; 
        color: #282828;
        text-decoration:none;
        @media(min-width: $tablet){
            letter-spacing: 0.5px;
            font-size: 18px;
        }
    }    
    &-fieldset{
        position: relative;
        display: block;
    }
    &-label{
        position: absolute;
        bottom:16px;
        color: #9A9A9A;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        transition: transform .3s, font-size .3s;
        display: inline-block;
        @media(min-width: $tablet){
            font-size: 20px;
            line-height: 32px;
            bottom: 8px;
        }
        &:hover, &:focus, &.notempty{
            transform: translateY(-15px);
            @media(min-width: $tablet){
                font-size: 14px;
                transform: translateY(-20px);
            }            
        }        
    }
    &-input{
        width: 100%;
        border: 0;
        border-bottom: 1px solid #E0E0E0;
        padding: 21px 0 8px 0;
        color: #282828;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        transition: border .3s;
        outline: none;
        background: #FAFBFC;
        box-sizing: border-box;
        @media(min-width: $tablet){
            font-size: 16px;
            letter-spacing: 0.15px;
            padding-bottom: 12px;            
        }
        @media(min-width:$desktop){
            padding-top: 53px;
        }        
        &:hover, &:focus, &.notempty{
            border-color:#FFCC08;             
        }
        &.notempty{
            @media(min-width:$tablet){
                padding-top: 28px;
            }
        }
    }
    &-file{
        position: absolute;
        visibility: hidden;
        &-label{
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #282828;
            margin: 20px 0 35px 0;               
            position: relative; 
            display: inline-block;
            padding-right: 40px;
            @media(min-width: $tablet){
                margin: 43px 0 51px 0;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
            } 
            @media(min-width:$notebook){
                margin-bottom: 70px;
            } 
            @media(min-width:$desktop){
                margin-bottom: 75px;
            }       
        }
    }
    &-plus{        
        vertical-align: bottom;        
        position: relative;
        margin-right: 20px;
        &:before{
            content: '';
            width: 12px;
            height: 2px;
            background: #282828;
            display: block;
            position: absolute;
            bottom: 10px;
            left: 0;            
        }
        &:after{
            content: '';
            height: 12px;
            width: 2px;
            background: #282828;
            display: block;
            position: absolute;
            left: 5px;
            bottom: 5px;            
        }
    }
    &-button{
        background: #FFCC08;
        border-radius: 50px;
        color: #282828;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        width: 224px;
        box-sizing: border-box;
        padding: 16px;
        position: relative;
        margin: 0 auto;
        border: none;
        outline: none;
        display: block;
        letter-spacing: 0.15px;
        cursor: pointer;
        @media(min-width: $tablet){
            margin: 0;
        }
        &.disabled{
            background: #9A9A9A;
            cursor: text; 
        }
    }
    &-disclamer{
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #282828;
        margin-top: 15px;
        display: block;
        @media(min-width: $tablet){
            font-size: 14px;
            line-height: 24px;
            margin-top: 28px;
        }
        @media(min-width:$desktop){
            max-width: 405px;
        }       
    }
    &-delete{
        vertical-align: bottom;
        margin-right: 20px;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
        &:before{
            content: '';
            width: 12px;
            height: 2px;
            background: #282828;
            display: block;
            position: absolute;
            bottom: 15px;
            right: 0;
        }
        &:after{
            content: '';
            height: 12px;
            width: 2px;
            background: #282828;
            display: block;
            position: absolute;
            right: 5px;
            bottom: 10px;
        }
    }
    &-flex{
        @media(min-width:$notebook){
            display: flex;
            width: calc(100% - 20px);
            margin: 0 -10px;
        }
        @media(min-width:$desktop){
            width: calc(100% - 30px);
            margin: 0 -15px;
        }
    }
    &-col{
        @media(min-width:$notebook){            
            width: calc(50% - 20px);
            margin: 0 10px;
        }
        @media(min-width:$desktop){
            width: calc(50% - 30px);
            margin: 0 15px;
        }
    }
    &-resume{
        @media(min-width:$desktop){
            width: 83%;            
        }
    }
}