.hrform
    .hr-left
        .hr-text
            p Хотите работать в нашей компании, но в списке вакансий желаемой должности пока нет?
            p Заполните анкету, и мы свяжемся с Вами, как только она появится в компании.
        
    .hr-right
