.mobilemenu
    .mobilemenu-top
        .mobilemenu-logo
            svg.logo-svg.logo-svg__white(role="img")(width="120")(height="26"): use(xlink:href="#logo_black")
        .mobilemenu-close 
    ul.mobilemenu-ul
        li.mobilemenu-li.mobilemenu-li__sub
            span О компании
            ul.mobilemenu-sub-ul
                li.mobilemenu-sub-li
                    a(href="activity.html").mobilemenu-link О нас
                li.mobilemenu-sub-li
                    a(href="team.html").mobilemenu-link Команда
                li.mobilemenu-sub-li
                    a(href="production.html").mobilemenu-link Производство
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Карьера
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Статистика
        li.mobilemenu-li.mobilemenu-li__sub
            span Деятельность
            ul.mobilemenu-sub-ul
                li.mobilemenu-sub-li
                    a(href="activity.html").mobilemenu-link О нас
                li.mobilemenu-sub-li
                    a(href="team.html").mobilemenu-link Команда
                li.mobilemenu-sub-li
                    a(href="production.html").mobilemenu-link Производство
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Карьера
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Статистика
        li.mobilemenu-li
            a(href="news.html").mobilemenu-link Новости
        li.mobilemenu-li
            a(href="tenders.html").mobilemenu-link Тендеры
        li.mobilemenu-li.mobilemenu-li__sub
            span Реализация нефти
            ul.mobilemenu-sub-ul
                li.mobilemenu-sub-li
                    a(href="activity.html").mobilemenu-link О нас
                li.mobilemenu-sub-li
                    a(href="team.html").mobilemenu-link Команда
                li.mobilemenu-sub-li
                    a(href="production.html").mobilemenu-link Производство
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Карьера
                li.mobilemenu-sub-li
                    a(href="#").mobilemenu-link Статистика
        li.mobilemenu-li
            a(href="contacts.html").mobilemenu-link Контакты