extends _layouts/default
block title
  title В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров 
block header
  include _layouts/headerwithoutshadow/headerwithoutshadow
block content 
  main.content-main
    .container      
        include components/404/404
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 