extends _layouts/default
include _layouts/headerInner/headerInner
block title
  title Тендеры
block header
  +headerInner('Карьера', 'background-image:url(/images/careerslider.jpg)')  
block content 
  main.content-main
    .container
        .content   
            .content-block
                p Работа в «УДС нефть» – это участие в масштабных проектах и решение интересных профессиональных задач. Вместе с командой единомышленников мы работаем на будущее, которым сможем по праву гордиться.
                p Мы создаем комфортные и конкурентоспособные условия труда, реализуем программы мотивации персонала, расширяем возможности для обучения и профессионального роста, стремимся к тому, чтобы наши сотрудники получали уникальный опыт, максимально полно раскрывали свои способности и развивались вместе с компанией.
                p «УДС нефть» – это команда профессионалов, сплоченная общими целями и ориентированная на результат. И если вы разделяете наши ценности и ищете интересную и динамичную работу, профессиональное развитие и карьерные возможности, добро пожаловать в команду «УДС нефть».
    include  components/peopleslider/peopleslider
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 