extends _layouts/default
include  _layouts/headerInner/headerInner
block title
  title Команда
block header
  +headerInner('Команда', 'background-image:url(/images/comandslider.jpg)')  
block content 
  main.content-main
    include  components/gallery/gallery
block footer