extends _layouts/default
block title
  title Контакты
block header
  include _layouts/headerwithoutslider/headerwithoutslider
block content 
  main.content-main    
    .container      
      include components/contacts/contacts 
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 