extends _layouts/default
include _layouts/headerInner/headerInner
block title
  title Наша история
block header
  +headerInner('Наша история', 'background-image:url(/images/history.jpg)')  
block content 
  main.content-main
    .container  
      include components/history/history
      include components/awards/awards             
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 