extends _layouts/default

block title
  title Udsoil - компания УДС-Нефть
block header
  include  _layouts/header/header
  include  _layouts/mainLenta/mainLenta
  include  components/quote/quote
block content
block footer