extends _layouts/default
block title
  title Udsoil - компания УДС-Нефть
block header
  include  _layouts/header/header
block content
  include  _layouts/mainLenta/mainLenta
  include  components/quote/quote
  include  components/geography/geography
  include  components/development/development
  include  components/team/team
  include  components/career/career
block footer