article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018
article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018
article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018
article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018
article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018
article.news-item(data-aos="fade-up" data-aos-duration="3000")
    .news-preview
        img.news-img(src='../assets/news2.jpg')
    a(href="newsdetail.html").news-notice
        p В «УДС нефть» подвели итоги конкурса «Лучший по профессии» среди электромонтеров          
    time.news-date 28 ноября 2018