extends _layouts/default
block title
  title Новости
block header
  include _layouts/headerwithoutslider/headerwithoutslider
block content 
  main.content-main
    .newsdetail
      .container
        include components/newsdetail/newsdetail
        include components/newsgallery/newsgallery
        include components/sharebuttons/sharebuttons
    include components/pagination/pagination
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 