extends _layouts/default
include  _layouts/headerInner/headerInner
block title
  title(data-aos="fade-left" data-aos-duration="1000")  Команда
block header
  +headerInner('Команда', 'background-image:url(/images/teamslider.jpg)', '/images/teamslider_small.jpg')  
block content 
  main.content-main
    include  components/gallery/gallery
block footer
  include components/mobilemenu/mobilemenu
  include _includes/scripts 